# SSSVV Monthly Reporting

In [1]:
# List of Preliminary work to be done manually

# Copy paste new files in currrent_month_data folder

In [2]:
# Import relevant libraries
import pandas as pd
import numpy as np
import datetime
import os

In [3]:
current_path = os.getcwd()
current_path

'D:\\Data Science folders\\Github repository\\Portfolio projects - classified\\Personal Projects\\SSSVV LMS Reporting'

In [4]:
# Set the current date and time
now = datetime.datetime.now()
now

datetime.datetime(2023, 3, 25, 14, 7, 41, 745317)

In [5]:
# Get the month and year from the current date and time
current_month_year = now.strftime('%B_%Y')
current_month_year

'March_2023'

In [6]:
# Calculate the previous month
previous = now.replace(day=1) - datetime.timedelta(days=1)
previous

datetime.datetime(2023, 2, 28, 14, 7, 41, 745317)

In [7]:
# Get the month and year from the previous month and time
previous_month = previous.strftime('%B_%Y')
previous_month

'February_2023'

In [8]:
# Calculate the previous month
old = previous.replace(day=1) - datetime.timedelta(days=1)
old

datetime.datetime(2023, 1, 31, 14, 7, 41, 745317)

In [9]:
# Get the month and year from the previous month and time
old_month = old.strftime('%B_%Y')
old_month

'January_2023'

In [10]:
# Set the directory where the Excel file is located
# Set the old file path
reporting_month_directory_path = r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Current_month_data\Input'

#Shift directory to current_month_path
os.chdir(reporting_month_directory_path)
os.getcwd()

'D:\\Side Hustles\\SSSVV activities\\SRC - Karnataka\\Current_month_data\\Input'

In [11]:
import gc
gc.collect()

import os
for file_name in os.listdir(reporting_month_directory_path):
    print(file_name)

Chapters viewed per user KA Schools.xlsx
Downloads.html
Feedback for all courses KA Schools.xlsx
Feedback List.html
Files downloaded per user KA Schools.xlsx
Filtered downloadable users last login KA Schools.xlsx
Number of files downloaded per user KA Schools.xlsx
Resource Views.html
Users List.html

In [12]:
# create an empty list to store the dataframes
dfs = []

# loop through all the files in the directory path
for file_name in os.listdir(reporting_month_directory_path):
    if file_name.endswith('.xlsx'): # only read excel files
        file_path = os.path.join(reporting_month_directory_path, file_name) # get full file path
        df = pd.read_excel(file_path) # read excel file
        dfs.append(df) # append dataframe to list
        # get the file name using basename
        os.path.basename(file_name)
        print("Imported file:", file_name)

Imported file: Chapters viewed per user KA Schools.xlsx
Imported file: Feedback for all courses KA Schools.xlsx
Imported file: Files downloaded per user KA Schools.xlsx
Imported file: Filtered downloadable users last login KA Schools.xlsx
Imported file: Number of files downloaded per user KA Schools.xlsx

In [13]:
current_views = dfs[0]
current_feedback = dfs[1]
current_downloads = dfs[2]
current_users_list = dfs[3]
current_download_count = dfs[4]

# Resource Views Folder

In [14]:
current_views.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Food Components,2023-02-11 16:46:22
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Animal Fibre,2023-02-13 00:34:08
2,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,CCDP APSE Science STD VII Food Components,2023-02-11 16:46:33
3,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,IX CBSE Science,Tissues,2023-02-13 03:11:20
4,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI APSE Science,Fun with Magnets,2023-02-02 15:14:49

In [15]:
#!pip install pandas_profiling

In [16]:
import ydata_profiling
from ydata_profiling import ProfileReport

profile = ProfileReport(dfs[0], title='Resource Views')
profile.to_file('Resource Views.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [17]:
#Input Corrections needed

#General Check for any new inconsistency
#Sepearate shortname column into 3 parts & Treat misplaced values
#change school name
#Add Date Column

## General Check for any new inconsistency

In [18]:
current_views.shape

(439, 10)

In [19]:
current_views.columns

Index(['id', 'idnumber', 'username', 'firstname', 'lastname', 'email',
       'institution', 'shortname', 'resource viewed', 'timestamp'],
      dtype='object')

In [20]:
current_views.dtypes

id                  int64
idnumber           object
username           object
firstname          object
lastname           object
email              object
institution        object
shortname          object
resource viewed    object
timestamp          object
dtype: object

In [21]:
current_views.isnull().sum()

id                 0
idnumber           0
username           0
firstname          0
lastname           0
email              0
institution        0
shortname          0
resource viewed    0
timestamp          0
dtype: int64

In [22]:
current_views.describe(include=['O'])

,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp
count,439,439,439,439,439,439,439,439,439
unique,8,40,39,34,40,11,45,133,419
top,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VII KSSE Maths,Algebraic Expressions,2023-02-15 05:45:13
freq,160,46,46,46,46,140,40,14,5

In [23]:
#See if Date column is missing

In [24]:
#If Date column is visible, make the necessary filters

In [25]:
print("Number of Schools:", current_views["institution"].nunique())
print("Name of Schools:\n",current_views["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 11
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad                    140
Sri Sathya Sai Baba Higher Primary and High School, Mysuru      83
Sri Sathya Sai Academy of Integrated Education, Bhadravathi     73
Sri Sathya Sai School, Bhadravathi                              46
Sri Sathya Sai Vidyaniketan, Bagepalli                          41
\tSri Sathya Sai Vidya Mandir School, Dharwad                   20
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati       15
Prashanthi Vidya Kendra, Bayar, Kasaragod                        8
SSSVV KA Volunteer                                               5
Prashanti English Medium School, Siddapura                       4
Sri Sathya Sai Vidya Kendra                                      4
Name: institution, dtype: int64

In [26]:
print("Number of Users:", current_views["id"].nunique())
print("Name of Users:\n",current_views["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 40
Name of Users:
 Malashree      46
Likhitha       45
Kalpana        39
Rashmi         37
Poornima       33
Samprutha      29
Bamini         21
Jyoti          20
Triveni        18
Kalawati       16
SAGANA         14
Malati         12
Bharathi       11
SHASHIDHARA    10
Nikitha         8
Sheela          8
Veerayya        8
Sasi            8
Chaitra         6
ANTHONY         5
Chithra         5
NITHYA          5
Shahanaz        4
Varshini        4
LATHA           4
Rakshitha       3
JAYAKUMAR       2
Shruthi         2
Sai Smitha      2
Jayalakshmi     2
Jayalaxmi       2
NANDA           2
Sudha           2
KRUSHNA         1
Sai Sowmya      1
Narasimha       1
Tejaswini       1
Shweta          1
Yarab           1
Name: firstname, dtype: int64

In [27]:
current_views["shortname"].value_counts()

VII KSSE Maths       40
I CBSE English       35
V CBSE EVS           29
VI CBSE Social       24
VI KSSE Social       22
VI CBSE Science      21
VI KSSE Maths        18
IV CBSE Maths        14
III KSSE EVS         14
V KSSE Maths         13
VIII CBSE Social     12
V CBSE Maths         12
VII APSE Science     11
IV KSSE EVS          11
VI CBSE Maths        11
IV CBSE EVS          10
Ii KSSE English       9
VII KSSE Social       9
VII CBSE Maths        8
VIII CBSE Science     8
III CBSE EVS          8
V KSSE EVS            8
II KSSE EVS           8
III KSSE English      7
I KSSE EVS            7
VIII KSSE Social      7
VII CBSE Social       7
VIII CBSE Maths       6
II CBSE EVS           6
III KSSE Maths        5
VII CBSE Science      5
 IX CBSE Science      4
KSSE IX Social        4
I CBSE EVS            4
IV KSSE Maths         4
VIII KSSE Maths       3
II CBSE English       2
VIII KSSE SC          2
III CBSE English      2
T2 - CBTE 2           2
II KSSE Maths         2
III APSE EVS          2
VI APSE Science       1
VI KSSE Science       1
III CBSE Maths        1
Name: shortname, dtype: int64

In [28]:
data = current_views.copy()
data.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Food Components,2023-02-11 16:46:22
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Animal Fibre,2023-02-13 00:34:08
2,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,CCDP APSE Science STD VII Food Components,2023-02-11 16:46:33
3,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,IX CBSE Science,Tissues,2023-02-13 03:11:20
4,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI APSE Science,Fun with Magnets,2023-02-02 15:14:49

## Sepearate shortname column into 3 parts & Treat disordered values

In [ ]:
current_views_data_check = current_views.copy()

In [30]:
import re

# Define mapping dictionaries for Class, Board, and Subject
class_map = {'I': 1, 'II': 2,'Ii': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9,'SOPAAN':'SOPAAN'}
board_map = {'KSSE': 'KSSE', 'CBSE': 'CBSE', 'APSE': 'APSE','Content':'Content'}
subject_map = {'Maths': 'Maths', 'Science': 'Science','English': 'English', 'Social': 'Social', 'EVS': 'EVS','Repackaged':'Repackaged','Sample':'Sample'}


# Define a function to split the shortname column into Class, Board, and Subject columns
def split_shortname(shortname):
    # Initialize variables
    class_ = None
    board = None
    subject = None
    
    # Split the string into words
    words = re.findall(r'\b\w+\b', shortname)
    
    # Map the values to Class, Board, and Subject columns
    for word in words:
        if word in class_map:
            class_ = class_map[word]
        elif word in board_map:
            board = board_map[word]
        elif word in subject_map:
            subject = subject_map[word]
        elif word == 'SC':
            subject = 'Science'
        elif word == 'Chemistry':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
        elif word == 'Physics':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
            
    # Return the values as a tuple
    return (class_, board, subject)

# Split the shortname column into Class, Board, and Subject columns
current_views_data_check[['Class', 'Board', 'Subject']] = current_views_data_check['shortname'].apply(split_shortname).apply(pd.Series)

# Convert Class column to integers
#data['Class'] = pd.to_numeric(data['Class'])

# Sort the data by Class column
#data = data.sort_values('Class')

# Print the cleaned data
#print(data[['Class', 'Board', 'Subject']])
print(current_views_data_check)

#Save the cleaned dataframe to an excel file
data.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\current_views_data_check.xlsx", index=False)

       id idnumber          username  firstname  lastname  \
0    1575    KA000  chithra_srikanth    Chithra  Srikanth
1    1575    KA000  chithra_srikanth    Chithra  Srikanth
2    1575    KA000  chithra_srikanth    Chithra  Srikanth
3    1575    KA000  chithra_srikanth    Chithra  Srikanth
4    1575    KA000  chithra_srikanth    Chithra  Srikanth
..    ...      ...               ...        ...       ...
434  1761    KA015     samprutha.bgp  Samprutha         R
435  1761    KA015     samprutha.bgp  Samprutha         R
436  1761    KA015     samprutha.bgp  Samprutha         R
437  1761    KA015     samprutha.bgp  Samprutha         R
438  2133    KA015        yarab.baba      Yarab      baba

                           email                             institution  \
0    chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
1    chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
2    chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
3    chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
4    chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
..                           ...                                     ...
434      sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
435      sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
436      sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
437      sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
438        yarabbaba94@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli

            shortname                               resource viewed  \
0    VII APSE Science                               Food Components
1    VII APSE Science                                  Animal Fibre
2    VII APSE Science     CCDP APSE Science STD VII Food Components
3     IX CBSE Science                                       Tissues
4     VI APSE Science                              Fun with Magnets
..                ...                                           ...
434      V KSSE Maths                                      Patterns
435      V KSSE Maths                                      Patterns
436     VI KSSE Maths                          Ratio and Proportion
437     VI KSSE Maths                          Ratio and Proportion
438  VIII KSSE Social  CCDP KSSE Social Science STD VIII Atmosphere

               timestamp  Class Board  Subject
0    2023-02-11 16:46:22    7.0  APSE  Science
1    2023-02-13 00:34:08    7.0  APSE  Science
2    2023-02-11 16:46:33    7.0  APSE  Science
3    2023-02-13 03:11:20    9.0  CBSE  Science
4    2023-02-02 15:14:49    6.0  APSE  Science
..                   ...    ...   ...      ...
434  2023-02-26 14:31:49    5.0  KSSE    Maths
435  2023-02-26 14:31:52    5.0  KSSE    Maths
436  2023-02-22 08:37:52    6.0  KSSE    Maths
437  2023-02-22 08:37:57    6.0  KSSE    Maths
438  2023-02-16 04:47:37    8.0  KSSE   Social

[439 rows x 13 columns]

In [31]:
current_views_data_check.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Food Components,2023-02-11 16:46:22,7.0,APSE,Science
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Animal Fibre,2023-02-13 00:34:08,7.0,APSE,Science
2,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,CCDP APSE Science STD VII Food Components,2023-02-11 16:46:33,7.0,APSE,Science
3,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,IX CBSE Science,Tissues,2023-02-13 03:11:20,9.0,CBSE,Science
4,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI APSE Science,Fun with Magnets,2023-02-02 15:14:49,6.0,APSE,Science

In [32]:
current_views_data_check.shape

(439, 13)

In [33]:
current_views_data_check.isnull().sum()

id                 0
idnumber           0
username           0
firstname          0
lastname           0
email              0
institution        0
shortname          0
resource viewed    0
timestamp          0
Class              2
Board              2
Subject            2
dtype: int64

In [34]:
current_views_data_check['Class'].value_counts()

6.0    98
7.0    80
5.0    62
1.0    46
3.0    39
4.0    39
8.0    38
2.0    27
9.0     8
Name: Class, dtype: int64

In [35]:
current_views_data_check['Board'].value_counts()

CBSE    229
KSSE    194
APSE     14
Name: Board, dtype: int64

In [36]:
current_views_data_check['Subject'].value_counts()

Maths      137
EVS        107
Social      85
English     55
Science     53
Name: Subject, dtype: int64

In [37]:
#data = data.drop(data[(data['Class'] == 'Not Entered') | (data['Class'] == 'SOPAAN')| (data['Subject'] == 'Repackaged')].index)

## change school name

In [38]:
current_views_school_check = current_views_data_check.copy()

In [39]:
print("Number of Schools : ",current_views_school_check['institution'].nunique())
current_views_school_check['institution'].value_counts()

Number of Schools :  11

Sri Sathya Sai Vidya Mandir School, Dharwad                    140
Sri Sathya Sai Baba Higher Primary and High School, Mysuru      83
Sri Sathya Sai Academy of Integrated Education, Bhadravathi     73
Sri Sathya Sai School, Bhadravathi                              46
Sri Sathya Sai Vidyaniketan, Bagepalli                          41
\tSri Sathya Sai Vidya Mandir School, Dharwad                   20
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati       15
Prashanthi Vidya Kendra, Bayar, Kasaragod                        8
SSSVV KA Volunteer                                               5
Prashanti English Medium School, Siddapura                       4
Sri Sathya Sai Vidya Kendra                                      4
Name: institution, dtype: int64

In [40]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga']

current_views_school_check['institution'] = current_views_school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(current_views_school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        current_views_school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            current_views_school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                current_views_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    current_views_school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    current_views_school_check.at[i, 'institution'] = school_name

In [41]:
print("Number of Schools : ",current_views_school_check['institution'].nunique())
current_views_school_check['institution'].value_counts()

Number of Schools :  8

Sri Sathya Sai Vidya Mandir School, Dharwad                    160
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    134
Sri Sathya Sai Baba Higher Primary and High School, Mysuru      83
Sri Sathya Sai Vidyaniketan, Bagepalli                          41
Prashanthi Vidya Kendra, Bayar, Kasaragod                        8
SSSVV KA Volunteer                                               5
Prashanti English Medium School, Siddapura                       4
Sri Sathya Sai Vidya Kendra                                      4
Name: institution, dtype: int64

In [42]:
current_views_school_check.shape

(439, 13)

## Add Date Column

In [43]:
current_views_date_check = current_views_school_check.copy()

In [44]:
import pandas as pd

def add_date_column(df):
    if 'timestamp' in df.columns:
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['Date'] = pd.to_datetime(df['timestamp']).dt.date.astype(str).apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
    else:
        print("Error: dataframe does not contain 'timestamp' column")

In [45]:
add_date_column(current_views_date_check)
current_views_date_check.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject,Date
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Food Components,2023-02-11 16:46:22,7.0,APSE,Science,11/02/2023
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Animal Fibre,2023-02-13 00:34:08,7.0,APSE,Science,13/02/2023
2,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,CCDP APSE Science STD VII Food Components,2023-02-11 16:46:33,7.0,APSE,Science,11/02/2023
3,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,IX CBSE Science,Tissues,2023-02-13 03:11:20,9.0,CBSE,Science,13/02/2023
4,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI APSE Science,Fun with Magnets,2023-02-02 15:14:49,6.0,APSE,Science,02/02/2023

In [46]:
current_views_date_check.dtypes

id                          int64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
resource viewed            object
timestamp          datetime64[ns]
Class                     float64
Board                      object
Subject                    object
Date                       object
dtype: object

## Check Resource viewed column

In [47]:
current_views_resource_check = current_views_date_check.copy()

In [48]:
current_views_resource_check['resource viewed'].value_counts()

Algebraic Expressions                    14
Punctuation                              14
Smart Chart                              12
Ratio and Proportion                     11
Algebra                                  10
                                         ..
What if it Finishes                       1
No Place for Us                           1
CCDP CBSE EVS STD V Up You Go!            1
CCDP CBSE EVS STD V Whose Forests         1
CCDP KSSE Mathematics STD VI Decimals     1
Name: resource viewed, Length: 133, dtype: int64

In [49]:
print(current_views_resource_check['resource viewed'].dtype)

object

### Create Content Type column

In [50]:
current_views_resource_check[current_views_resource_check['resource viewed'].isnull()]

Empty DataFrame
Columns: [id, idnumber, username, firstname, lastname, email, institution, shortname, resource viewed, timestamp, Class, Board, Subject, Date]
Index: []

In [51]:
current_views_resource_check['resource viewed'] = current_views_resource_check['resource viewed'].fillna("Not Entered")
current_views_resource_check[current_views_resource_check['resource viewed'].isnull()]

Empty DataFrame
Columns: [id, idnumber, username, firstname, lastname, email, institution, shortname, resource viewed, timestamp, Class, Board, Subject, Date]
Index: []

In [52]:
import re

# create function to categorize content type
def categorize(value):
    if 'CCDP' in value:
        return 'CCDP'
    elif re.search(r'(.pptx|.ppt|.mp4|MP4|.mp3)$',value):
        return 'MM Teaching Aids'
    #elif re.search(r'(QA\s|Worksheet|worksheet|Activity|Sheet$)',value):
        #return 'Learning Aids'
    #elif re.search(r'(\d{2}\s[A-Z]{2}\s|Worksheet|worksheet|Activity|Sheet$)',value):
        #return 'Learning Aids'
    #elif re.search(r'(SA\s|Worksheet|worksheet|Activity|Sheet$)',value):
        #return 'Learning Aids'
    elif re.search(r'(docx|Worksheet|worksheet|Sheet$)',value):
        return 'Learning Aids'
    elif re.search(r'(.docx)$',value):
        return 'Learning Aids'
    else:
        return 'MLP'

# apply function to create new column
current_views_resource_check['Content Type'] = current_views_resource_check['resource viewed'].apply(categorize)

current_views_resource_check['Content Type'].value_counts()

MLP              367
CCDP              55
Learning Aids     17
Name: Content Type, dtype: int64

### Create File format type column

In [53]:
import re

# create function to categorize Asset type
def categorize(value):
    if '.xlsx' in value:
        return 'Spreadsheet'
    elif re.search(r'(.pptx|.ppt)',value):
        return 'PPT slide'
    elif re.search(r'(.mp4|MP4|.mp3)$',value):
        return 'Audio'
    elif 'pdf' in value:
        return 'PDF'
    elif 'docx' in value:
        return 'Word document'
    else:
        return 'Unkown'

# apply function to create new column
current_views_resource_check['File Format Type'] = current_views_resource_check['resource viewed'].apply(categorize)

current_views_resource_check['File Format Type'].value_counts()

Unkown    439
Name: File Format Type, dtype: int64

### Create Asset type column

In [54]:
import re

# create function to categorize Asset type
def categorize(value):
    if 'MS' in value:
        return 'Main Script'
    elif 'DD' in value:
        return 'Day to Day Relevance'
    elif 'QA' in value:
        return 'Question to Assess'
    elif 'VC' in value:
        return 'Value Content'
    elif 'IA' in value:
        return 'Interesting Asides'
    elif 'IQ' in value:
        return 'Inquisitive Questions'
    elif 'SA' in value:
        return 'Suggested Activity'
    elif 'CCDP' in value:
        return 'CCDP'
    elif 'LA' in value:
        return 'LA'
    elif 'TA' in value:
        return 'TA'
    elif 'MT' in value:
        return 'MT'
    elif 'AS' in value:
        return 'AS'
    elif 'pdf' in value:
        return 'Master Lesson Plan'
    else:
        return 'Not Mentioned'

# apply function to create new column
current_views_resource_check['Asset Type'] = current_views_resource_check['resource viewed'].apply(categorize)

current_views_resource_check['Asset Type'].value_counts()

Not Mentioned         369
CCDP                   55
Question to Assess     11
Suggested Activity      4
Name: Asset Type, dtype: int64

In [55]:
#resource_check[resource_check['Asset Type']=='Not Mentioned']

### Clean resource viewed column

In [56]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    
    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()

# test the function with some sample inputs
titles = [
    'VII - The Roman Empire',
    'IV - The Dark Ages',
    'V - The Renaissance',
    'I - The Origins of Civilization',
    'IX - The Age of Exploration',
    'X - The Modern World',
    'Introduction','Vijaynagar Empire',
    'CCDP English Language Arts',
    'SA History and Culture',
    'Class X Mathematics - Chapter 1',
    'CBSE Class IX Physics - Chapter 3',
    'KSSE Biology - Grade 9',
    'STD X English Grammar',
    '5 Digit Numbers','CCDP KSSE Mathematics STD V 5-Digit Numbers',
    'Grade 5 Science',
    'A snake charmer&#039;s story',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Mathematics STD VIII Cube and Cube Roots',
    'Herons Formula',
    'CCDP KSSE Mathematics STD IX Herons Formula',
    'A day in the garden',
    'Honey sweet honey',
    'Atmosphere',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    'Comprehension',
    '01 SA Picture Comprehension',
    'Tenses',
    'CCDP KSSE English STD III Tenses',
    'Prepositions',
    'CCDP KSSE English STD IV Prepositions',
    'Genders','I need these'

]

for title in titles:
    print(f"{title} -> {clean_title(title)}")

VII - The Roman Empire -> I - The Roman Empire
IV - The Dark Ages -> - The Dark Ages
V - The Renaissance -> - The Renaissance
I - The Origins of Civilization -> I - The Origins of Civilization
IX - The Age of Exploration -> - The Age of Exploration
X - The Modern World -> - The Modern World
Introduction -> Introduction
Vijaynagar Empire -> Vijaynagar Empire
CCDP English Language Arts -> Language Arts
SA History and Culture -> History and Culture
Class X Mathematics - Chapter 1 -> - 1
CBSE Class IX Physics - Chapter 3 -> Physics - 3
KSSE Biology - Grade 9 -> Biology - 9
STD X English Grammar -> STD Grammar
5 Digit Numbers -> 5 Digit Numbers
CCDP KSSE Mathematics STD V 5-Digit Numbers -> 5-Digit Numbers
Grade 5 Science -> 5 Science
A snake charmer&#039;s story -> A snake charmer&#039;s story
Multiplication 2 -> Multiplication 2
Hu Tu Tu Hu Tu Tu -> Hu Tu Tu Hu Tu Tu
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
03 QA Testing Usage of Nouns Worksheet. -> Testing Usage of Nouns Worksheet
CCDP KSSE Mathematics STD VIII Cube and Cube Roots -> Cube and Cube Roots
Herons Formula -> Herons Formula
CCDP KSSE Mathematics STD IX Herons Formula -> Herons Formula
A day in the garden -> A day in the garden
Honey sweet honey -> Honey sweet honey
Atmosphere -> Atmosphere
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
Comprehension -> Comprehension
01 SA Picture Comprehension -> Picture Comprehension
Tenses -> Tenses
CCDP KSSE English STD III Tenses -> Tenses
Prepositions -> Prepositions
CCDP KSSE English STD IV Prepositions -> Prepositions
Genders -> Genders
I need these -> I need these

In [57]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()

#Apply the clean_text function to the 'resource viewed' column of the 'resource_check' dataframe 

current_views_resource_check['course module'] = current_views_resource_check['resource viewed'].apply(clean_title)

current_views_resource_check['course module'].value_counts() 
#print(resource_check)

Algebraic Expressions       15
Punctuation                 14
Law and Social Justice      12
Smart Chart                 12
Ratio and Proportion        11
                            ..
Electricity And Circuits     1
Up You Go!                   1
No Place for Us              1
What if it Finishes          1
Atoms and Molecules          1
Name: course module, Length: 112, dtype: int64

### Correct Spelling

from spellchecker import SpellChecker
import re

#Initialize spell checker
spell = SpellChecker()

#Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    #Join the corrected words back into a single string
    return " ".join(corrected_words)

#test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {correct_spelling(title)}")

from spellchecker import SpellChecker
import re

#Initialize spell checker
spell = SpellChecker()

#Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    #Join the corrected words back into a single string
    return " ".join(corrected_words)

#Apply correct_spelling() function to 'chapter title' column
resource_check['chapter title cleaned'] = resource_check['chapter title'].apply(correct_spelling)
resource_check['chapter title cleaned'].value_counts()

### Capitalize first letter

import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if word.lower() not in ['in', 'the', 'to', 'on', 'at', 'into', 'and','a','with','of']:
            words[i] = word.title()
    return " ".join(words)

#test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {clean_chapter_name(title)}")

def clean_chapter_name(chapter_name):
    words = chapter_name.split()
    for i, word in enumerate(words):
        if i == 0 or word.lower() not in ['in','the' 'to', 'on', 'at', 'into', 'and','a','of','with','it','so','']:
            words[i] = word.capitalize()
    return " ".join(words)
#apply function to chapter_name_cleaneed column
resource_check['chapter title cleaned'] = resource_check['chapter title cleaned'].apply(clean_chapter_name)

resource_check['chapter title cleaned'].value_counts()

In [58]:
#Save the cleaned dataframe to an excel file
current_views_resource_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\resource_check.xlsx", index=False)

### Save file in folder path

In [59]:
current_views_cleaned = current_views_resource_check.copy()

In [60]:
# Rename the file with the current month and year
new_views = f'Views_{previous.month}_{previous.year}.xlsx'

In [61]:
#Set the new file path
new_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Resource Views', new_views)

#Save the dataframe to the new file path
current_views_cleaned.to_excel(new_path, index=False)

# Feedback List Folder

In [62]:
current_feedback.head()

,Time,userid,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,qa,dd,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6
0,2023-02-02 06:31:39,2059,KA007,sssvm.jayalaxmi,Jayalaxmi,CP,laxmisssvm@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",laxmisssvm@gmail.com,Coordinate geometry,...,5,5,5,4,1,1,1,1,NaN,NaN
1,2023-02-04 09:15:43,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Poonams day out,...,5,5,5,5,1,1,1,1,NaN,NaN
2,2023-02-04 09:17:01,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,The plant fairy,...,5,5,5,5,1,1,1,1,NaN,NaN
3,2023-02-04 09:17:02,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",malashreenayyar@gmail.com,Across the walls,...,5,4,4,4,1,1,1,1,NaN,NaN
4,2023-02-04 09:18:08,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Water O Water,...,5,5,5,5,1,1,1,1,NaN,NaN

In [63]:
import ydata_profiling
from ydata_profiling import ProfileReport

profile = ProfileReport(dfs[1], title='Feedback List')
profile.to_file('Feedback List.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [64]:
#Input Corrections needed

# General Check for any new inconsistency
# change school name
# Add Cleaned Date Column

## General Check for any new inconsistency

In [65]:
current_feedback.shape

(26, 23)

In [66]:
current_feedback.columns

Index(['Time', 'userid', 'idnumber', 'username', 'firstname', 'lastname',
       'email', 'institution', 'email entered', 'chapter name', 'mainscript',
       'iq', 'sa', 'qa', 'dd', 'vc', 'ia', 'comm. 1', 'comm. 2', 'comm. 3',
       'comm. 4', 'comm. 5', 'comm. 6'],
      dtype='object')

In [67]:
current_feedback.dtypes

Time              object
userid             int64
idnumber          object
username          object
firstname         object
lastname          object
email             object
institution       object
email entered     object
chapter name      object
mainscript         int64
iq                 int64
sa                 int64
qa                 int64
dd                 int64
vc                 int64
ia                 int64
comm. 1            int64
comm. 2            int64
comm. 3            int64
comm. 4            int64
comm. 5           object
comm. 6          float64
dtype: object

In [68]:
current_feedback.isnull().sum()

Time              0
userid            0
idnumber          0
username          0
firstname         0
lastname          0
email             0
institution       0
email entered     0
chapter name      0
mainscript        0
iq                0
sa                0
qa                0
dd                0
vc                0
ia                0
comm. 1           0
comm. 2           0
comm. 3           0
comm. 4           0
comm. 5          25
comm. 6          26
dtype: int64

In [69]:
current_feedback.describe(include=['O'])

,Time,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,comm. 5
count,26,26,26,26,26,26,26,26,26,1
unique,26,2,7,7,7,7,2,8,26,1
top,2023-02-02 06:31:39,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Coordinate geometry,name of the asset -_Suggested Activity\n15th s...
freq,1,19,7,7,7,7,19,7,1,1

In [70]:
print("Number of Schools:", current_feedback["institution"].nunique())
print("Name of Schools:\n",current_feedback["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 2
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad    19
Sri Sathya Sai School, Bhadravathi              7
Name: institution, dtype: int64

In [71]:
print("Number of Users:", current_feedback["userid"].nunique())
print("Name of Users:\n",current_feedback["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 7
Name of Users:
 Sai Smitha    7
JAYAKUMAR     7
Malati        4
Malashree     3
Kalpana       2
Veerayya      2
Jayalaxmi     1
Name: firstname, dtype: int64

## Change school name

In [72]:
current_feedback_school_check = current_feedback.copy()

In [73]:
print("Number of Schools : ",current_feedback_school_check['institution'].nunique())
current_feedback_school_check['institution'].value_counts()

Number of Schools :  2

Sri Sathya Sai Vidya Mandir School, Dharwad    19
Sri Sathya Sai School, Bhadravathi              7
Name: institution, dtype: int64

In [74]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga']

school_check['institution'] = current_feedback_school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(current_feedback_school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        current_feedback_school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            current_feedback_school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                current_feedback_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    current_feedback_school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    current_feedback_school_check.at[i, 'institution'] = school_name

In [75]:
print("Number of Schools : ",current_feedback_school_check['institution'].nunique())
current_feedback_school_check['institution'].value_counts()

Number of Schools :  2

Sri Sathya Sai Vidya Mandir School, Dharwad                    19
Sri Sathya Sai Academy of Integrated Education, Bhadravathi     7
Name: institution, dtype: int64

In [76]:
current_feedback_school_check.shape

(26, 23)

## Add Date Column

In [77]:
current_feedback_date_check = current_feedback_school_check.copy()

In [78]:
current_feedback_date_check.columns

Index(['Time', 'userid', 'idnumber', 'username', 'firstname', 'lastname',
       'email', 'institution', 'email entered', 'chapter name', 'mainscript',
       'iq', 'sa', 'qa', 'dd', 'vc', 'ia', 'comm. 1', 'comm. 2', 'comm. 3',
       'comm. 4', 'comm. 5', 'comm. 6'],
      dtype='object')

In [79]:
import pandas as pd

def add_date_column(df):
    if 'Time' in df.columns:
        df['Time'] = pd.to_datetime(df['Time'])
        df['Date'] = pd.to_datetime(df['Time']).dt.date.astype(str).apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
    else:
        print("Error: dataframe does not contain 'Time' column")

In [80]:
add_date_column(current_feedback_date_check)
current_feedback_date_check.head()

,Time,userid,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,dd,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,Date
0,2023-02-02 06:31:39,2059,KA007,sssvm.jayalaxmi,Jayalaxmi,CP,laxmisssvm@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",laxmisssvm@gmail.com,Coordinate geometry,...,5,5,4,1,1,1,1,NaN,NaN,02/02/2023
1,2023-02-04 09:15:43,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Poonams day out,...,5,5,5,1,1,1,1,NaN,NaN,04/02/2023
2,2023-02-04 09:17:01,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,The plant fairy,...,5,5,5,1,1,1,1,NaN,NaN,04/02/2023
3,2023-02-04 09:17:02,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",malashreenayyar@gmail.com,Across the walls,...,4,4,4,1,1,1,1,NaN,NaN,04/02/2023
4,2023-02-04 09:18:08,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Water O Water,...,5,5,5,1,1,1,1,NaN,NaN,04/02/2023

In [81]:
current_feedback_date_check.dtypes

Time             datetime64[ns]
userid                    int64
idnumber                 object
username                 object
firstname                object
lastname                 object
email                    object
institution              object
email entered            object
chapter name             object
mainscript                int64
iq                        int64
sa                        int64
qa                        int64
dd                        int64
vc                        int64
ia                        int64
comm. 1                   int64
comm. 2                   int64
comm. 3                   int64
comm. 4                   int64
comm. 5                  object
comm. 6                 float64
Date                     object
dtype: object

In [82]:
current_feedback_date_check['Date'].value_counts()

04/02/2023    13
13/02/2023     3
05/02/2023     2
11/02/2023     2
16/02/2023     2
02/02/2023     1
17/02/2023     1
20/02/2023     1
22/02/2023     1
Name: Date, dtype: int64

## Check chapter name column

In [83]:
current_feedback_chapter_check = current_feedback_date_check.copy()

In [84]:
current_feedback_chapter_check['chapter name'].value_counts()

Coordinate geometry                                   1
Poonams day out                                       1
Rational numbers                                      1
polynomials                                           1
comparing quantities                                  1
polynomials                                           1
Living organisms characteristics and their habitat    1
Air around us                                         1
visualising solid shapes                              1
playing with numbers                                  1
Triangles                                             1
Kalpana Jadhav                                        1
our country                                           1
My Neighborhood                                       1
Air                                                   1
my school                                             1
Saying without speaking                               1
Food we eat                                           1
Snake charmers story                                  1
Chhotus house                                         1
Sence organs                                          1
Our first school                                      1
Water O Water                                         1
Across the walls                                      1
The plant fairy                                       1
The Fish tale                                         1
Name: chapter name, dtype: int64

In [85]:
print(current_feedback_chapter_check['chapter name'].dtype)

object

In [86]:
current_feedback_chapter_check.isnull().sum()

Time              0
userid            0
idnumber          0
username          0
firstname         0
lastname          0
email             0
institution       0
email entered     0
chapter name      0
mainscript        0
iq                0
sa                0
qa                0
dd                0
vc                0
ia                0
comm. 1           0
comm. 2           0
comm. 3           0
comm. 4           0
comm. 5          25
comm. 6          26
Date              0
dtype: int64

In [87]:
# Fill the null values in the 'chapter name' column with 'Not Entered'
current_feedback_chapter_check['chapter name'] = current_feedback_chapter_check['chapter name'].fillna('Not Entered')

In [88]:
non_string_values = current_feedback_chapter_check[~current_feedback_chapter_check['chapter name'].apply(lambda x: isinstance(x, str))]
print(non_string_values)

Empty DataFrame
Columns: [Time, userid, idnumber, username, firstname, lastname, email, institution, email entered, chapter name, mainscript, iq, sa, qa, dd, vc, ia, comm. 1, comm. 2, comm. 3, comm. 4, comm. 5, comm. 6, Date]
Index: []

[0 rows x 24 columns]

### Correct Spelling

In [89]:
from spellchecker import SpellChecker
import re

# Initialize spell checker
spell = SpellChecker()

# Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    # Join the corrected words back into a single string
    return " ".join(corrected_words)

# Apply correct_spelling() function to 'chapter name' column
#feedback_check['spelling check'] = feedback_check['chapter name'].apply(correct_spelling)

# test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'money',
    'vijayanagara empire',
    'Multiplication 2',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {correct_spelling(title)}")

Stars and the solar system -> stars and the solar system
money -> money
vijayanagara empire -> vijayanagara empire
Multiplication 2 -> multiplication 2
India Political and Cultural -> india political and cultural
introduction to graph -> introduction to graph
exponents powers -> exponents powers
Introduction -> introduction
linear equations in two variables -> linear equations in two variables
Abdul in the Garden -> abdul in the garden
numbers 1 t0 20 -> numbers 1 to 20
Eating Togerher -> eating together
Reprosuction in Animals -> reproduction in animals
A snake charmer&#039;s story -> a snake charmer 039 i story
how many ponytails? -> how many ponytails

In [90]:
from spellchecker import SpellChecker
import re

# Initialize spell checker
spell = SpellChecker()

# Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    # Join the corrected words back into a single string
    return " ".join(corrected_words)

# apply function to create new column
current_feedback_chapter_check['course module'] = current_feedback_chapter_check['chapter name'].apply(correct_spelling)

current_feedback_chapter_check['course module'].value_counts()

polynomial                                            2
coordinate geometry                                   1
my neighborhood                                       1
rational numbers                                      1
comparing quantities                                  1
living organisms characteristics and their habitat    1
air around us                                         1
visualizing solid shapes                              1
playing with numbers                                  1
triangles                                             1
katana radha                                          1
our country                                           1
air                                                   1
noona's day out                                       1
my school                                             1
saying without speaking                               1
food we eat                                           1
snake charmers story                                  1
chorus house                                          1
since organs                                          1
our first school                                      1
water o water                                         1
across the walls                                      1
the plant fairy                                       1
the fish tale                                         1
Name: course module, dtype: int64

### Capitalize first letter

In [91]:
import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if i == 0 or word.lower() not in ['in','the', 'to', 'on', 'at', 'into', 'and','a','with']:
            words[i] = word.capitalize()
    return " ".join(words)

# test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'money',
    'vijayanagara empire',
    'Multiplication 2',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden','A snake charmer&#039;s story',
    'how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {clean_chapter_name(title)}")

Stars and the solar system -> Stars and the Solar System
money -> Money
vijayanagara empire -> Vijayanagara Empire
Multiplication 2 -> Multiplication 2
India Political and Cultural -> India Political and Cultural
introduction to graph -> Introduction to Graph
exponents powers -> Exponents Powers
Introduction -> Introduction
linear equations in two variables -> Linear Equations in Two Variables
Abdul in the Garden -> Abdul in the Garden
A snake charmer&#039;s story -> A Snake Charmers Story
how many ponytails? -> How Many Ponytails?

In [92]:
import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    chapter_name = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|class|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', chapter_name)
    
    # remove trailing hyphens, spaces, and periods
    chapter_name = re.sub(r'[-.\s]*$', '', chapter_name)
    chapter_name = re.sub(r'^\s+ \s$', '', chapter_name)
    chapter_name = re.sub(r'^\s+ ', '', chapter_name)

    
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if i == 0 or word.lower() not in ['in','the', 'to', 'on', 'at', 'into', 'and','a','with']:
            words[i] = word.capitalize()
    return " ".join(words)

# apply function to chapter_name_cleaneed column
current_feedback_chapter_check['course module'] = current_feedback_chapter_check['course module'].apply(clean_chapter_name)

current_feedback_chapter_check['course module'].value_counts()

Polynomial                                            2
Coordinate Geometry                                   1
My Neighborhood                                       1
Rational Numbers                                      1
Comparing Quantities                                  1
Living Organisms Characteristics and Their Habitat    1
Air Around Us                                         1
Visualizing Solid Shapes                              1
Playing with Numbers                                  1
Triangles                                             1
Katana Radha                                          1
Our Country                                           1
Air                                                   1
Noonas Day Out                                        1
My School                                             1
Saying Without Speaking                               1
Food We Eat                                           1
Snake Charmers Story                                  1
Chorus House                                          1
Since Organs                                          1
Our First School                                      1
Water O Water                                         1
Across the Walls                                      1
The Plant Fairy                                       1
The Fish Tale                                         1
Name: course module, dtype: int64

### Saving to folder path

In [93]:
#Save the cleaned dataframe to an excel file
current_feedback_chapter_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\feedback_check.xlsx", index=False)

In [94]:
# convert to datetime
#date_check['Date'] = pd.to_datetime(date_check['Date'], format='%d/%m/%Y', errors='coerce')

In [95]:
# create new 'Date' column in desired format
#date_check['Date'] = date_check['Date'].dt.strftime('%d/%m/%Y')

In [96]:
current_feedback_cleaned = current_feedback_chapter_check.copy()

In [97]:
# Rename the file with the current month and year
new_feedback_ = f'Feedback_List_{previous.month}_{previous.year}.xlsx'

In [98]:
#Set the new file path
new_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Feedback List', new_feedback_)

#Save the dataframe to the new file path
current_feedback_cleaned.to_excel(new_path, index=False)

# Downloads Folder

In [99]:
current_downloads.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp
0,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-22 16:24:08
1,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:22:03
2,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:44:59
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MS_Lines of Symmetry.pptx,2023-02-22 16:19:41
4,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,VC_Beauty around us.mp3,2023-02-22 16:19:41

In [100]:
#!pip install pandas_profiling

In [101]:
import ydata_profiling
from ydata_profiling import ProfileReport

profile = ProfileReport(dfs[0], title='Downloads')
profile.to_file('Downloads.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [102]:
#Input Corrections needed

#General Check for any new inconsistency
#Sepearate shortname column into 3 parts & Treat misplaced values
#change school name
#Add Date Column

## General Check for any new inconsistency

In [103]:
current_downloads.shape

(4655, 11)

In [104]:
current_downloads.columns

Index(['id', 'idnumber', 'username', 'firstname', 'lastname', 'email',
       'institution', 'shortname', 'course module', 'file downloaded',
       'timestamp'],
      dtype='object')

In [105]:
current_downloads.dtypes

id                  int64
idnumber           object
username           object
firstname          object
lastname           object
email              object
institution        object
shortname          object
course module      object
file downloaded    object
timestamp          object
dtype: object

In [106]:
current_downloads.isnull().sum()

id                 0
idnumber           0
username           0
firstname          0
lastname           0
email              0
institution        0
shortname          0
course module      0
file downloaded    0
timestamp          0
dtype: int64

In [107]:
current_downloads.describe(include=['O'])

,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp
count,4655,4655,4655,4655,4655,4655,4655,4655,4655,4655
unique,8,50,48,44,50,13,54,173,2082,687
top,KA007,bdr.t15,KRUSHNA,S N,krushnanaikal1984@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",SOPAAN Content Repackaged,Listening & Speaking,Punctuation.pdf,2023-02-21 09:59:28
freq,1996,483,483,483,483,1777,523,496,14,99

In [108]:
#See if Date column is missing

In [109]:
#If Date column is visible, make the necessary filters

In [110]:
print("Number of Schools:", current_downloads["institution"].nunique())
print("Name of Schools:\n",current_downloads["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 13
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad                     1777
Sri Sathya Sai School, Bhadravathi                              1218
Sri Sathya Sai Baba Higher Primary and High School, Mysuru       433
Sri Sathya Sai Academy of Integrated Education, Bhadravathi      344
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati        260
\tSri Sathya Sai Vidya Mandir School, Dharwad                    219
Prashanti English Medium School, Siddapura                       152
Sri Sathya Sai Vidyaniketan, Bagepalli                           105
Prashanthi Vidya Kendra, Bayar, Kasaragod                         96
SSSVV KA Volunteer                                                22
\tSri Sathya Sai Baba Higher Primary and High School, Mysuru      19
Sri Sathya sai Vidyaniketan, Bagepalli                             6
Sri Sathya Sai Vidya Kendra                                        4
Name: institution, dtype: int64

In [111]:
print("Number of Users:", current_downloads["id"].nunique())
print("Name of Users:\n",current_downloads["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 50
Name of Users:
 KRUSHNA        483
Kalpana        385
Malashree      340
Anuradha       320
Likhitha       282
JAYAKUMAR      246
Jyoti          219
Bamini         210
NITHYA         187
NANDA          158
Sai Sowmya     154
Rashmi         135
VINAY          117
BHARATHI       110
Deepa          109
Chaitra        106
Rakshitha       91
Samprutha       79
Sheela          77
Tejaswini       75
SHASHIDHARA     73
Bharathi        71
Sadhana         66
Shweta          63
Jayalaxmi       50
Triveni         46
Sai Smitha      44
SAGANA          41
Veerayya        37
Saraswathi      36
Poornima        33
Nikitha         30
Pallavi         28
Sasi            22
Prasad          21
Kalawati        20
Malati          20
Shahanaz        19
Jayalakshmi     14
ANTHONY         13
Rajani           6
Chithra          5
LATHA            4
Varshini         4
Sudha            2
Shruthi          2
Narasimha        1
Yarab            1
Name: firstname, dtype: int64

In [112]:
current_downloads["shortname"].value_counts()

SOPAAN Content Repackaged    523
V CBSE EVS                   348
VIII KSSE Maths              313
IX KSSE Maths                255
VIII KSSE SC                 231
VII KSSE Maths               224
VI KSSE Maths                178
VIII CBSE Science            162
VIII CBSE Social             152
VI CBSE Social               150
IV KSSE EVS                  150
VI KSSE Science              143
IV CBSE EVS                  126
VIII CBSE Maths              120
II KSSE EVS                  113
VI KSSE Social               107
VI CBSE Science              106
VI CBSE Maths                105
VII KSSE Social               99
KSSE IX Science               95
 IX CBSE Science              92
VII CBSE Social               87
VII APSE Science              80
VII CBSE Maths                74
I CBSE English                66
V KSSE Maths                  61
VII KSSE Science              58
III CBSE Maths                43
III KSSE EVS                  42
VII CBSE Science              39
I  CBSE Maths                 37
I KSSE EVS                    37
IX CBSE Maths                 35
IV CBSE Maths                 25
III CBSE EVS                  24
III KSSE English              23
V KSSE EVS                    20
V CBSE Maths                  20
II CBSE Maths                 18
IV KSSE Maths                 12
Ii KSSE English                9
Team Refresher Course 1        7
VIII KSSE Social               7
II CBSE EVS                    6
I KSSE English                 6
III KSSE Maths                 5
II CBSE English                5
I CBSE EVS                     4
KSSE IX Social                 4
III CBSE English               2
T2 - CBTE 2                    2
II KSSE Maths                  2
III APSE EVS                   2
VI APSE Science                1
Name: shortname, dtype: int64

In [113]:
current_downloads_data_check = current_downloads.copy()
data.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp
0,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-22 16:24:08
1,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:22:03
2,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:44:59
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MS_Lines of Symmetry.pptx,2023-02-22 16:19:41
4,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,VC_Beauty around us.mp3,2023-02-22 16:19:41

## Sepearate shortname column into 3 parts & Treat disordered values

In [114]:
import re

# Define mapping dictionaries for Class, Board, and Subject
class_map = {'I': 1, 'II': 2,'Ii': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9,'SOPAAN':'SOPAAN'}
board_map = {'KSSE': 'KSSE', 'CBSE': 'CBSE', 'APSE': 'APSE','Content':'Content'}
subject_map = {'Maths': 'Maths', 'Science': 'Science','English': 'English', 'Social': 'Social', 'EVS': 'EVS','Repackaged':'Repackaged','Sample':'Sample'}


# Define a function to split the shortname column into Class, Board, and Subject columns
def split_shortname(shortname):
    # Initialize variables
    class_ = None
    board = None
    subject = None
    
    # Split the string into words
    words = re.findall(r'\b\w+\b', shortname)
    
    # Map the values to Class, Board, and Subject columns
    for word in words:
        if word in class_map:
            class_ = class_map[word]
        elif word in board_map:
            board = board_map[word]
        elif word in subject_map:
            subject = subject_map[word]
        elif word == 'SC':
            subject = 'Science'
        elif word == 'Chemistry':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
        elif word == 'Physics':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
            
    # Return the values as a tuple
    return (class_, board, subject)

# Split the shortname column into Class, Board, and Subject columns
current_downloads_data_check[['Class', 'Board', 'Subject']] = current_downloads_data_check['shortname'].apply(split_shortname).apply(pd.Series)

# Convert Class column to integers
#data['Class'] = pd.to_numeric(data['Class'])

# Sort the data by Class column
#data = data.sort_values('Class')

# Print the cleaned data
#print(data[['Class', 'Board', 'Subject']])
print(current_downloads_data_check)

#Save the cleaned dataframe to an excel file
current_downloads_data_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\downloads_check.xlsx", index=False)

        id idnumber           username   firstname lastname  \
0     1570    KA000  saraswati.bantwal  Saraswathi  Bantwal
1     1570    KA000  saraswati.bantwal  Saraswathi  Bantwal
2     1570    KA000  saraswati.bantwal  Saraswathi  Bantwal
3     1570    KA000  saraswati.bantwal  Saraswathi  Bantwal
4     1570    KA000  saraswati.bantwal  Saraswathi  Bantwal
...    ...      ...                ...         ...      ...
4650  1761    KA015      samprutha.bgp   Samprutha        R
4651  1761    KA015      samprutha.bgp   Samprutha        R
4652  1761    KA015      samprutha.bgp   Samprutha        R
4653  1761    KA015      samprutha.bgp   Samprutha        R
4654  2133    KA015         yarab.baba       Yarab     baba

                             email                             institution  \
0     saraswathi.sai2311@gmail.com                      SSSVV KA Volunteer
1     saraswathi.sai2311@gmail.com                      SSSVV KA Volunteer
2     saraswathi.sai2311@gmail.com                      SSSVV KA Volunteer
3     saraswathi.sai2311@gmail.com                      SSSVV KA Volunteer
4     saraswathi.sai2311@gmail.com                      SSSVV KA Volunteer
...                            ...                                     ...
4650       sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
4651       sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
4652       sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
4653       sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
4654         yarabbaba94@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli

             shortname         course module  \
0        VI CBSE Maths              Symmetry
1        VI CBSE Maths              Symmetry
2        VI CBSE Maths              Symmetry
3        VI CBSE Maths              Symmetry
4        VI CBSE Maths              Symmetry
...                ...                   ...
4650      V KSSE Maths              Patterns
4651      V KSSE Maths              Patterns
4652     VI KSSE Maths  Ratio and Proportion
4653     VI KSSE Maths  Ratio and Proportion
4654  VIII KSSE Social            Atmosphere

                                        file downloaded            timestamp  \
0                      MLP_Ideation Module_Symmetry.pdf  2023-02-22 16:24:08
1                      MLP_Ideation Module_Symmetry.pdf  2023-02-23 10:22:03
2                      MLP_Ideation Module_Symmetry.pdf  2023-02-23 10:44:59
3                             MS_Lines of Symmetry.pptx  2023-02-22 16:19:41
4                               VC_Beauty around us.mp3  2023-02-22 16:19:41
...                                                 ...                  ...
4650                        07_SA_Quiz on patterns.pptx  2023-02-24 03:17:32
4651         11_VC_Value of good behaviour pattern.pptx  2023-02-24 03:17:32
4652                           Ratio and Proportion.pdf  2023-02-22 08:37:52
4653                           Ratio and Proportion.pdf  2023-02-22 08:37:57
4654  CCDP_KSSE_Social Science_STD VIII_Atmosphere.xlsx  2023-02-16 04:47:37

     Class Board Subject
0        6  CBSE   Maths
1        6  CBSE   Maths
2        6  CBSE   Maths
3        6  CBSE   Maths
4        6  CBSE   Maths
...    ...   ...     ...
4650     5  KSSE   Maths
4651     5  KSSE   Maths
4652     6  KSSE   Maths
4653     6  KSSE   Maths
4654     8  KSSE  Social

[4655 rows x 14 columns]

In [115]:
current_downloads_data_check.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject
0,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-22 16:24:08,6,CBSE,Maths
1,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:22:03,6,CBSE,Maths
2,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:44:59,6,CBSE,Maths
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MS_Lines of Symmetry.pptx,2023-02-22 16:19:41,6,CBSE,Maths
4,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,VC_Beauty around us.mp3,2023-02-22 16:19:41,6,CBSE,Maths

In [116]:
current_downloads_data_check.shape

(4655, 14)

In [117]:
current_downloads_data_check.isnull().sum()

id                 0
idnumber           0
username           0
firstname          0
lastname           0
email              0
institution        0
shortname          0
course module      0
file downloaded    0
timestamp          0
Class              9
Board              9
Subject            9
dtype: int64

In [118]:
current_downloads_data_check['Class'].value_counts()

8         985
6         790
7         661
SOPAAN    523
9         481
5         449
4         313
2         153
1         150
3         141
Name: Class, dtype: int64

In [119]:
current_downloads_data_check['Board'].value_counts()

KSSE       2194
CBSE       1846
Content     523
APSE         83
Name: Board, dtype: int64

In [120]:
current_downloads_data_check['Subject'].value_counts()

Maths         1527
Science       1007
EVS            872
Social         606
Repackaged     523
English        111
Name: Subject, dtype: int64

In [121]:
#data = data.drop(data[(data['Class'] == 'Not Entered') | (data['Class'] == 'SOPAAN')| (data['Subject'] == 'Repackaged')|(data['Subject'] == 'Sample')].index)

In [122]:
current_downloads_data_check['Class'].value_counts()

8         985
6         790
7         661
SOPAAN    523
9         481
5         449
4         313
2         153
1         150
3         141
Name: Class, dtype: int64

In [123]:
current_downloads_data_check['Board'].value_counts()

KSSE       2194
CBSE       1846
Content     523
APSE         83
Name: Board, dtype: int64

In [124]:
current_downloads_data_check['Subject'].value_counts()

Maths         1527
Science       1007
EVS            872
Social         606
Repackaged     523
English        111
Name: Subject, dtype: int64

## Change school name

In [125]:
current_downloads_school_check = current_downloads_data_check.copy()

In [126]:
print("Number of Schools : ",current_downloads_school_check['institution'].nunique())
current_downloads_school_check['institution'].value_counts()

Number of Schools :  13

Sri Sathya Sai Vidya Mandir School, Dharwad                     1777
Sri Sathya Sai School, Bhadravathi                              1218
Sri Sathya Sai Baba Higher Primary and High School, Mysuru       433
Sri Sathya Sai Academy of Integrated Education, Bhadravathi      344
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati        260
\tSri Sathya Sai Vidya Mandir School, Dharwad                    219
Prashanti English Medium School, Siddapura                       152
Sri Sathya Sai Vidyaniketan, Bagepalli                           105
Prashanthi Vidya Kendra, Bayar, Kasaragod                         96
SSSVV KA Volunteer                                                22
\tSri Sathya Sai Baba Higher Primary and High School, Mysuru      19
Sri Sathya sai Vidyaniketan, Bagepalli                             6
Sri Sathya Sai Vidya Kendra                                        4
Name: institution, dtype: int64

In [127]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga']

current_downloads_school_check['institution'] = current_downloads_school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(current_downloads_school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        current_downloads_school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            current_downloads_school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                current_downloads_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    current_downloads_school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    current_downloads_school_check.at[i, 'institution'] = school_name

In [128]:
print("Number of Schools : ",current_downloads_school_check['institution'].nunique())
current_downloads_school_check['institution'].value_counts()

Number of Schools :  8

Sri Sathya Sai Vidya Mandir School, Dharwad                    1996
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    1822
Sri Sathya Sai Baba Higher Primary and High School, Mysuru      452
Prashanti English Medium School, Siddapura                      152
Sri Sathya Sai Vidyaniketan, Bagepalli                          111
Prashanthi Vidya Kendra, Bayar, Kasaragod                        96
SSSVV KA Volunteer                                               22
Sri Sathya Sai Vidya Kendra                                       4
Name: institution, dtype: int64

In [129]:
current_downloads_school_check.shape

(4655, 14)

## Add & Clean Date Column

In [130]:
current_downloads_date_check = current_downloads_school_check.copy()

In [131]:
import pandas as pd

def add_date_column(df):
    if 'timestamp' in df.columns:
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['Date'] = pd.to_datetime(df['timestamp']).dt.date.astype(str).apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
    else:
        print("Error: dataframe does not contain 'timestamp' column")

In [132]:
add_date_column(current_downloads_date_check)
current_downloads_date_check.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject,Date
0,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-22 16:24:08,6,CBSE,Maths,22/02/2023
1,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:22:03,6,CBSE,Maths,23/02/2023
2,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:44:59,6,CBSE,Maths,23/02/2023
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MS_Lines of Symmetry.pptx,2023-02-22 16:19:41,6,CBSE,Maths,22/02/2023
4,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,VC_Beauty around us.mp3,2023-02-22 16:19:41,6,CBSE,Maths,22/02/2023

In [133]:
current_downloads_date_check.dtypes

id                          int64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
course module              object
file downloaded            object
timestamp          datetime64[ns]
Class                      object
Board                      object
Subject                    object
Date                       object
dtype: object

## Check files downloaded column

In [134]:
current_downloads_files_check = current_downloads_date_check.copy()

In [135]:
current_downloads_files_check['file downloaded'].value_counts()

Punctuation.pdf                                       14
Algebraic Expressions.pdf                             14
Smart Chart.pdf                                       12
Ratio and Proportion.pdf                              11
Algebra.pdf                                           10
                                                      ..
DD_Common Features of an Indian Currency Note.pptx     1
DD_Why we need Money.pptx                              1
IA_Facts about currency.pptx                           1
IA_Salary and Wages.pptx                               1
DD_Products from Forest.pptx                           1
Name: file downloaded, Length: 2082, dtype: int64

In [136]:
print(current_downloads_files_check['file downloaded'].dtype)

object

### Create Content Type column

In [137]:
current_downloads_files_check['file downloaded'].isnull().sum()

0

In [138]:
current_downloads_files_check['file downloaded'] = current_downloads_files_check['file downloaded'].fillna("Not Entered")
current_downloads_files_check[current_downloads_files_check['file downloaded'].isnull()]

Empty DataFrame
Columns: [id, idnumber, username, firstname, lastname, email, institution, shortname, course module, file downloaded, timestamp, Class, Board, Subject, Date]
Index: []

In [139]:
import re

# create function to categorize content type
def categorize(value):
    if 'CCDP' in value:
        return 'CCDP'
    elif re.search(r'(.pptx|.ppt|.mp4|MP4|.mp3)$',value):
        return 'MM Teaching Aids'
    #elif re.search(r'^(MS|IA|QA|IQ|SA|VC|DD)',value):
        #return 'MM Teaching Aids'
    elif re.search(r'(docx|Worksheet|worksheet|Sheet$)',value):
        return 'Learning Aids'
    elif re.search(r'(.docx)$',value):
        return 'Learning Aids'
    else:
        return 'MLP'

# apply function to create new column
current_downloads_files_check['Content Type'] = current_downloads_files_check['file downloaded'].apply(categorize)

current_downloads_files_check['Content Type'].value_counts()

MM Teaching Aids    3636
MLP                  913
CCDP                  57
Learning Aids         49
Name: Content Type, dtype: int64

### Create File format type column

In [140]:
import re

# create function to categorize Asset type
def categorize(value):
    if '.xlsx' in value:
        return 'Spreadsheet'
    elif re.search(r'(.pptx|.ppt)',value):
        return 'PPT slide'
    elif re.search(r'(.mp4|MP4|.mp3)$',value):
        return 'Audio'
    elif 'pdf' in value:
        return 'PDF'
    elif 'docx' in value:
        return 'Word document'
    else:
        return 'Unkown'

# apply function to create new column
current_downloads_files_check['File Format Type'] = current_downloads_files_check['file downloaded'].apply(categorize)

current_downloads_files_check['File Format Type'].value_counts()

PPT slide        3490
PDF               928
Audio             146
Spreadsheet        68
Word document      23
Name: File Format Type, dtype: int64

### Create Asset type column

In [141]:
import re

# create function to categorize Asset type
def categorize(value):
    if 'MS' in value:
        return 'Main Script'
    elif 'DD' in value:
        return 'Day to Day Relevance'
    elif 'QA' in value:
        return 'Question to Assess'
    elif 'VC' in value:
        return 'Value Content'
    elif 'IA' in value:
        return 'Interesting Asides'
    elif 'IQ' in value:
        return 'Inquisitive Questions'
    elif 'SA' in value:
        return 'Suggested Activity'
    elif 'CCDP' in value:
        return 'CCDP'
    elif 'LA' in value:
        return 'LA'
    elif 'TA' in value:
        return 'TA'
    elif 'MT' in value:
        return 'MT'
    elif 'AS' in value:
        return 'AS'
    elif 'pdf' in value:
        return 'Master Lesson Plan'
    else:
        return 'Not Mentioned'

# apply function to create new column
current_downloads_files_check['Asset Type'] = current_downloads_files_check['file downloaded'].apply(categorize)

current_downloads_files_check['Asset Type'].value_counts()

Main Script              1319
Question to Assess        510
Suggested Activity        491
Interesting Asides        383
Master Lesson Plan        371
Day to Day Relevance      354
Inquisitive Questions     327
Value Content             283
TA                        272
LA                        235
CCDP                       57
Not Mentioned              34
AS                         17
MT                          2
Name: Asset Type, dtype: int64

In [142]:
current_downloads_files_check[current_downloads_files_check['Asset Type']=='Not Mentioned']

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type
1695,2221,KA002,sashidhara_b,SHASHIDHARA,B,shashidharab2@gmail.com,Sri Sathya Sai Academy of Integrated Education...,VI KSSE Social,National Symbols and National Integration,02_Indian National Anthem.mp4,2023-02-20 08:42:35,6,KSSE,Social,20/02/2023,MM Teaching Aids,Audio,Not Mentioned
2015,119,KA006,tejaswini_naik,Tejaswini,Naik,tejaswinirameshnaik@gmail.com,"Prashanti English Medium School, Siddapura",V KSSE Maths,Time,videoplayback.mp4,2023-02-16 07:01:52,5,KSSE,Maths,16/02/2023,MM Teaching Aids,Audio,Not Mentioned
3018,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,Super Senses,Sleeping position of animals.mp4,2023-02-28 01:14:03,5,CBSE,EVS,28/02/2023,MM Teaching Aids,Audio,Not Mentioned
3019,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,Super Senses,sleeping sloth (720 mp4).mp4,2023-02-28 01:14:03,5,CBSE,EVS,28/02/2023,MM Teaching Aids,Audio,Not Mentioned
3022,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,Super Senses,Alligator Alert! American Coot seems to alert ...,2023-02-28 01:14:03,5,CBSE,EVS,28/02/2023,MM Teaching Aids,Audio,Not Mentioned
3023,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,Super Senses,Bird_s eye view.mp4,2023-02-28 01:14:03,5,CBSE,EVS,28/02/2023,MM Teaching Aids,Audio,Not Mentioned
3037,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,Sunita in Space,Phases of the Moon.mp4,2023-02-14 04:30:50,5,CBSE,EVS,14/02/2023,MM Teaching Aids,Audio,Not Mentioned
3734,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-01 01:20:49,8,CBSE,Social,01/02/2023,MM Teaching Aids,Audio,Not Mentioned
3735,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-01 01:20:49,8,CBSE,Social,01/02/2023,MM Teaching Aids,Audio,Not Mentioned
3754,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-01 01:28:16,8,CBSE,Social,01/02/2023,MM Teaching Aids,Audio,Not Mentioned
3755,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-01 01:28:16,8,CBSE,Social,01/02/2023,MM Teaching Aids,Audio,Not Mentioned
3774,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-01 16:57:16,8,CBSE,Social,01/02/2023,MM Teaching Aids,Audio,Not Mentioned
3775,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-01 16:57:16,8,CBSE,Social,01/02/2023,MM Teaching Aids,Audio,Not Mentioned
3794,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-04 09:05:19,8,CBSE,Social,04/02/2023,MM Teaching Aids,Audio,Not Mentioned
3795,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-04 09:05:19,8,CBSE,Social,04/02/2023,MM Teaching Aids,Audio,Not Mentioned
3814,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-04 09:05:37,8,CBSE,Social,04/02/2023,MM Teaching Aids,Audio,Not Mentioned
3815,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-04 09:05:37,8,CBSE,Social,04/02/2023,MM Teaching Aids,Audio,Not Mentioned
3834,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-04 09:05:57,8,CBSE,Social,04/02/2023,MM Teaching Aids,Audio,Not Mentioned
3835,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-04 09:05:57,8,CBSE,Social,04/02/2023,MM Teaching Aids,Audio,Not Mentioned
3854,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bancha_the Solar Kitchen Village.mp4,2023-02-19 09:41:38,8,CBSE,Social,19/02/2023,MM Teaching Aids,Audio,Not Mentioned
3855,2507,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-02-19 09:41:38,8,CBSE,Social,19/02/2023,MM Teaching Aids,Audio,Not Mentioned
4384,2121,KA010,shruthi.m,Shruthi,M,shruthimahesh1@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,T2 - CBTE 2,Seven Assets Deep Dive,Seven Assets Deep-dive.pptx,2023-02-02 10:53:21,None,None,None,02/02/2023,MM Teaching Aids,PPT slide,Not Mentioned
4385,2121,KA010,shruthi.m,Shruthi,M,shruthimahesh1@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,T2 - CBTE 2,Seven Assets Deep Dive,Seven Assets Deep-dive.pptx,2023-02-02 10:53:35,None,None,None,02/02/2023,MM Teaching Aids,PPT slide,Not Mentioned
4397,2137,KA010,rashmi.siddaramu,Rashmi,Siddaramu,rashmisrisiddarameshwara@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,VI KSSE Social,Asia - A Land of Contrasts,05_Regional Divisions Follow-up worksheet.docx,2023-02-10 15:32:47,6,KSSE,Social,10/02/2023,Learning Aids,Word document,Not Mentioned
4398,2137,KA010,rashmi.siddaramu,Rashmi,Siddaramu,rashmisrisiddarameshwara@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,VI KSSE Social,Asia - A Land of Contrasts,05_Regional Divisions Follow-up worksheet.docx,2023-02-11 14:46:03,6,KSSE,Social,11/02/2023,Learning Aids,Word document,Not Mentioned
4484,2137,KA010,rashmi.siddaramu,Rashmi,Siddaramu,rashmisrisiddarameshwara@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,VI KSSE Social,National Symbols and National Integration,02_Indian National Anthem.mp4,2023-02-17 08:41:06,6,KSSE,Social,17/02/2023,MM Teaching Aids,Audio,Not Mentioned
4503,2137,KA010,rashmi.siddaramu,Rashmi,Siddaramu,rashmisrisiddarameshwara@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,VI KSSE Social,National Symbols and National Integration,02_Indian National Anthem.mp4,2023-02-23 16:54:55,6,KSSE,Social,23/02/2023,MM Teaching Aids,Audio,Not Mentioned
4521,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 1.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned
4522,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 2.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned
4523,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 3.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned
4524,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 4 _ 4A.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned
4525,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 7.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned
4526,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 8.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned
4527,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Team Refresher Course 1,SOP for Implementation and Sustenance,Form - 9.xlsx,2023-02-01 05:01:25,None,None,None,01/02/2023,MLP,Spreadsheet,Not Mentioned

### Clean file downloaded column

In [143]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    title = re.sub(r'([\d]+_[A-Z{2}]+_*|[A-Z{2}]+_|.pdf|.pptx|.ppt|.docx|.xlsx|.mp4|.mp3)', '', title)

    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()

# test the function with some sample inputs
titles = [
    'VII - The Roman Empire',
    'IV - The Dark Ages',
    'V - The Renaissance',
    'I - The Origins of Civilization',
    'IX - The Age of Exploration',
    'X - The Modern World',
    'Introduction','Vijaynagar Empire',
    'CCDP English Language Arts',
    'SA History and Culture',
    'Class X Mathematics - Chapter 1',
    'CBSE Class IX Physics - Chapter 3',
    'KSSE Biology - Grade 9',
    'STD X English Grammar',
    '5 Digit Numbers','CCDP KSSE Mathematics STD V 5-Digit Numbers',
    'Grade 5 Science',
    'A snake charmer&#039;s story',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Mathematics STD VIII Cube and Cube Roots',
    'Herons Formula',
    'CCDP KSSE Mathematics STD IX Herons Formula',
    'A day in the garden',
    'Honey sweet honey',
    'Atmosphere',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    'Comprehension',
    '01 SA Picture Comprehension',
    'Tenses',
    'CCDP KSSE English STD III Tenses',
    'Prepositions',
    'CCDP KSSE English STD IV Prepositions',
    'Genders','I need these'

]

for title in titles:
    print(f"{title} -> {clean_title(title)}")

VII - The Roman Empire -> I - The Roman Empire
IV - The Dark Ages -> - The Dark Ages
V - The Renaissance -> - The Renaissance
I - The Origins of Civilization -> I - The Origins of Civilization
IX - The Age of Exploration -> - The Age of Exploration
X - The Modern World -> - The Modern World
Introduction -> Introduction
Vijaynagar Empire -> Vijaynagar Empire
CCDP English Language Arts -> Language Arts
SA History and Culture -> History and Culture
Class X Mathematics - Chapter 1 -> - 1
CBSE Class IX Physics - Chapter 3 -> Physics - 3
KSSE Biology - Grade 9 -> Biology - 9
STD X English Grammar -> STD Grammar
5 Digit Numbers -> 5 Digit Numbers
CCDP KSSE Mathematics STD V 5-Digit Numbers -> 5-Digit Numbers
Grade 5 Science -> 5 Science
A snake charmer&#039;s story -> A snake charmer&#039;s story
Multiplication 2 -> Multiplication 2
Hu Tu Tu Hu Tu Tu -> Hu Tu Tu Hu Tu Tu
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
03 QA Testing Usage of Nouns Worksheet. -> Testing Usage of Nouns Worksheet
CCDP KSSE Mathematics STD VIII Cube and Cube Roots -> Cube and Cube Roots
Herons Formula -> Herons Formula
CCDP KSSE Mathematics STD IX Herons Formula -> Herons Formula
A day in the garden -> A day in the garden
Honey sweet honey -> Honey sweet honey
Atmosphere -> Atmosphere
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
Comprehension -> Comprehension
01 SA Picture Comprehension -> Picture Comprehension
Tenses -> Tenses
CCDP KSSE English STD III Tenses -> Tenses
Prepositions -> Prepositions
CCDP KSSE English STD IV Prepositions -> Prepositions
Genders -> Genders
I need these -> I need these

In [144]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|SA\s|VC\s|IQ\s|IA\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    title = re.sub(r'([\d]+_[A-Z{2}]+_*|[A-Z{2}]+_|.pdf|.pptx|.ppt|.docx|.xlsx|.mp4|.mp3)', '', title)

    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()


# replace underscore with space in the 'file downloaded' column
current_downloads_files_check['File name'] = current_downloads_files_check['file downloaded'].str.replace('_', ' ')

#Apply the clean_text function to the 'resource viewed' column of the 'resource_check' dataframe 

current_downloads_files_check['File name'] = current_downloads_files_check['file downloaded'].apply(clean_title)

current_downloads_files_check['File name'].value_counts() 
#print(resource_check)

Algebraic Expressions                18
Punctuation                          14
Bhopal Gas Tragedy                   14
Glory of Vijayanagara                12
Smart Chart                          12
                                     ..
Counting and Presenting Data          1
Indian Currency - Notes and Coins     1
Mock market experience                1
Save Money                            1
Mangroves                             1
Name: File name, Length: 2025, dtype: int64

### Correct Spelling

from spellchecker import SpellChecker
import re

#Initialize spell checker
spell = SpellChecker()

#Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    #Join the corrected words back into a single string
    return " ".join(corrected_words)

#Apply correct_spelling() function to 'chapter name' column
#feedback_check['spelling check'] = feedback_check['chapter name'].apply(correct_spelling)

#test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {correct_spelling(title)}")

### Capitalize first letter

import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if word.lower() not in ['in', 'the', 'to', 'on', 'at', 'into', 'and']:
            words[i] = word.title()
    return " ".join(words)

#test the function with some sample inputs
titles = [
   'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {clean_chapter_name(title)}")

In [145]:
#Save the cleaned dataframe to an excel file
current_downloads_files_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\downloads_check.xlsx", index=False)

In [146]:
current_downloads_cleaned = current_downloads_files_check.copy()

In [147]:
# Rename the file with the current month and year
new_downloads_ = f'Downloads_{previous.month}_{previous.year}.xlsx'

In [148]:
#Set the new file path
new_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Downloads', new_downloads_)

#Save the dataframe to the new file path
current_downloads_cleaned.to_excel(new_path, index=False)

# Master Folders

## Current Users List

In [149]:
# Set the directory where the Excel file is located
# Set the old file path
reporting_month_directory_path = r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Current_month_data\Input'

#Shift directory to current_month_path
os.chdir(reporting_month_directory_path)
os.getcwd()

'D:\\Side Hustles\\SSSVV activities\\SRC - Karnataka\\Current_month_data\\Input'

In [357]:
current_users_list.head()

,id,idnumber,username,firstname,lastname,email,institution,last accessed
0,95,KA000,nanda_t,Nanda,Tirumala,tirumalanandaa@gmail.com,SSSVV KA Volunteer,2022-01-19
1,139,KA000,sandhya_u,Sandhya,Uchil,uchil.sandhya@gmail.com,"SSSVV KA Volunteer, Trainer, Mentor",2021-05-25
2,1565,KA000,preethi_somaiah,Preethi,Somaiah,preethisomaiah24@gmail.com,SSSVV KA Volunteer,2021-09-23
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,2023-02-23
4,1571,KA000,madhavi_chillara,Madhavi,Chillara,smadhavichillara@gmail.com,SSSVV KA Volunteer,2023-02-07

In [151]:
current_users_list.shape

(194, 8)

In [152]:
import ydata_profiling
from ydata_profiling import ProfileReport

profile = ProfileReport(current_users_list, title='Users List')
profile.to_file('Users List.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [153]:
#Input Corrections needed

#General Check for any new inconsistency
#change school name
#Clean Date Column

### 1. General Check for any new inconsistency

In [154]:
current_users_list.shape

(194, 8)

In [155]:
current_users_list.columns

Index(['id', 'idnumber', 'username', 'firstname', 'lastname', 'email',
       'institution', 'last accessed'],
      dtype='object')

In [156]:
current_users_list.dtypes

id                int64
idnumber         object
username         object
firstname        object
lastname         object
email            object
institution      object
last accessed    object
dtype: object

In [157]:
current_users_list.isnull().sum()

id               0
idnumber         0
username         0
firstname        0
lastname         0
email            0
institution      1
last accessed    0
dtype: int64

In [158]:
current_users_list.describe(include=['O'])

,idnumber,username,firstname,lastname,email,institution,last accessed
count,194,194,194,194,194,193,194
unique,12,194,175,129,194,21,106
top,KA002,nanda_t,Sowmya,B,tirumalanandaa@gmail.com,"Prashanthi Vidya Kendra, Bayar, Kasaragod",never
freq,37,1,3,15,1,27,15

In [159]:
#Note: No cleaning required in Date column

## Add & Clean Date Column

In [358]:
current_users_date_check = current_users_list.copy()

In [366]:
import pandas as pd
import numpy as np
import datetime

def add_date_column(df):
    if 'last accessed' in df.columns:
        df['last accessed'] = df['last accessed'].replace('never', np.nan) # replace 'never' with NaN
        df['last accessed'] = pd.to_datetime(df['last accessed'])
        df['Date'] = df['last accessed'].apply(lambda x: datetime.datetime.strptime(str(x.date()), '%Y-%m-%d').strftime('%d/%m/%Y') if not pd.isna(x) else '')
    else:
        print("Error: dataframe does not contain 'last accessed' column")

In [367]:
add_date_column(current_users_date_check)
current_users_date_check.head()

,id,idnumber,username,firstname,lastname,email,institution,last accessed,Date
0,95,KA000,nanda_t,Nanda,Tirumala,tirumalanandaa@gmail.com,SSSVV KA Volunteer,2022-01-19,19/01/2022
1,139,KA000,sandhya_u,Sandhya,Uchil,uchil.sandhya@gmail.com,"SSSVV KA Volunteer, Trainer, Mentor",2021-05-25,25/05/2021
2,1565,KA000,preethi_somaiah,Preethi,Somaiah,preethisomaiah24@gmail.com,SSSVV KA Volunteer,2021-09-23,23/09/2021
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,2023-02-23,23/02/2023
4,1571,KA000,madhavi_chillara,Madhavi,Chillara,smadhavichillara@gmail.com,SSSVV KA Volunteer,2023-02-07,07/02/2023

In [368]:
current_users_date_check.dtypes

id                        int64
idnumber                 object
username                 object
firstname                object
lastname                 object
email                    object
institution              object
last accessed    datetime64[ns]
Date                     object
dtype: object

In [369]:
print("Number of Schools:", current_users_date_check["institution"].nunique())
print("Name of Schools:\n",current_users_date_check["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 21
Name of Schools:
 Prashanthi Vidya Kendra, Bayar, Kasaragod                       27
Sri Sathya Sai School, Bhadravathi                              24
Sri Sathya Sai Vidyaniketan, Bagepalli                          23
Sri Sathya Sai Vidya Mandir School, Dharwad                     20
Sri Sathya Sai Vidya Kendra                                     16
Sri Eshwaramma English Medium High School, Tumakuru             12
Sri Sathya Sai Loka Seva High School, Alike                     10
Ananda Sai Shikshana Samsthe Shimoga                            10
Sri Sathya Sai Baba Higher Primary and High School, Mysuru       9
Sri Sathya Sai Academy of Integrated Education, Bhadravathi      7
SSSVV KA Volunteer                                               7
Prashanti English Medium School, Siddapura                       6
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati        6
Sri  Sathya Sai Primary and High School, Bagalkot                4
\tSri Sathya Sai Baba Higher Primary and High School, Mysuru     4
SSSVV KA Volunteer, Trainer, Mentor                              2
Sri Sathya Sai Loka Seva High School                             2
\tPrashanti English Medium School, Siddapura                     1
\tSri Sathya Sai Vidya Mandir School, Dharwad                    1
SSSSO KA Education Trust                                         1
Sri Sathya sai Vidyaniketan, Bagepalli                           1
Name: institution, dtype: int64

In [370]:
print("Number of Users:", current_users_date_check["id"].nunique())
print("Name of Users:\n",current_users_date_check["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 194
Name of Users:
 Sowmya           3
Chaitra          3
Anuradha         2
Likhitha         2
Saraswathi       2
                ..
Yarab            1
Venkatesha       1
Peer Bhakthar    1
Narasimha        1
Shravanthi       1
Name: firstname, Length: 175, dtype: int64

### 2. change school name

In [371]:
current_users_school_check = current_users_date_check.copy()

In [372]:
print("Number of Schools : ",current_users_school_check['institution'].nunique())
current_users_school_check['institution'].value_counts()

Number of Schools :  21

Prashanthi Vidya Kendra, Bayar, Kasaragod                       27
Sri Sathya Sai School, Bhadravathi                              24
Sri Sathya Sai Vidyaniketan, Bagepalli                          23
Sri Sathya Sai Vidya Mandir School, Dharwad                     20
Sri Sathya Sai Vidya Kendra                                     16
Sri Eshwaramma English Medium High School, Tumakuru             12
Sri Sathya Sai Loka Seva High School, Alike                     10
Ananda Sai Shikshana Samsthe Shimoga                            10
Sri Sathya Sai Baba Higher Primary and High School, Mysuru       9
SSSVV KA Volunteer                                               7
Sri Sathya Sai Academy of Integrated Education, Bhadravathi      7
Prashanti English Medium School, Siddapura                       6
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati        6
Sri  Sathya Sai Primary and High School, Bagalkot                4
\tSri Sathya Sai Baba Higher Primary and High School, Mysuru     4
SSSVV KA Volunteer, Trainer, Mentor                              2
Sri Sathya Sai Loka Seva High School                             2
\tPrashanti English Medium School, Siddapura                     1
\tSri Sathya Sai Vidya Mandir School, Dharwad                    1
SSSSO KA Education Trust                                         1
Sri Sathya sai Vidyaniketan, Bagepalli                           1
Name: institution, dtype: int64

In [164]:
current_users_school_check.isnull().sum()

id               0
idnumber         0
username         0
firstname        0
lastname         0
email            0
institution      1
last accessed    0
dtype: int64

In [373]:
current_users_school_check[current_users_school_check['institution'].isnull()]

,id,idnumber,username,firstname,lastname,email,institution,last accessed,Date
10,2214,KA000,nandu_s,Nandu,Sasindran,nandusasinandran@gmail.com,NaN,2022-06-19,19/06/2022

In [374]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga','SSSVV KA Volunteer','Sri Sathya Sai Loka Seva High School, Alike','Sri Sathya Sai Primary and High School, Bagalkot','Prashanthi Vidya Kendra, Bayar, Kasaragod']

# replace null or missing values in the 'institution' column with empty strings
current_users_school_check['institution'] = current_users_school_check['institution'].fillna('Not Filled')


current_users_school_check['institution'] = current_users_school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(current_users_school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        current_users_school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            current_users_school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                current_users_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    current_users_school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    # Check for Bagepalli school
                    if "bagepalli" in school_name and "sri sathya sai" in school_name_lower:
                        current_users_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
                    else:
                        # Check for SSSVV KA Volunteer
                        if "sss" in school_name_lower and "ka" in school_name_lower:
                            current_users_school_check.at[i,'institution'] = "SSSVV KA Volunteer"
                        else:
                            current_users_school_check.at[i, 'institution'] = school_name

In [375]:
print("Number of Schools : ",current_users_school_check['institution'].nunique())
current_users_school_check['institution'].value_counts()

Number of Schools :  13

Sri Sathya Sai Academy of Integrated Education, Bhadravathi    37
Prashanthi Vidya Kendra, Bayar, Kasaragod                      27
Sri Sathya Sai Vidyaniketan, Bagepalli                         24
Sri Sathya Sai Vidya Mandir School, Dharwad                    21
Sri Sathya Sai Vidya Kendra                                    16
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     13
Sri Sathya Sai Loka Seva High School, Alike                    12
Sri Eshwaramma English Medium High School, Tumakuru            12
SSSVV KA Volunteer                                             10
Ananda Sai Shikshana Samsthe Shimoga                           10
Prashanti English Medium School, Siddapura                      7
Sri Sathya Sai Primary and High School, Bagalkot                4
Not Filled                                                      1
Name: institution, dtype: int64

In [376]:
current_users_school_check.shape

(194, 9)

In [377]:
current_users_school_check[current_users_school_check['institution'] == "Not Filled"]

,id,idnumber,username,firstname,lastname,email,institution,last accessed,Date
10,2214,KA000,nandu_s,Nandu,Sasindran,nandusasinandran@gmail.com,Not Filled,2022-06-19,19/06/2022

In [378]:
current_users_list_cleaned = current_users_school_check.copy()

### Save file in master path

In [379]:
# Rename the file with the current month and year
new_users_list_ = f'Master_Users_List.xlsx'

In [380]:
#Set the new file path
new_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Master Folder', new_users_list_)

#Save the dataframe to the new file path
current_users_list_cleaned.to_excel(new_path, index=False)

## Loading all the files

In [522]:
# Set the directory where the Excel file is located
# Set the old file path
Master_directory_path = r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Master Folder'

#Shift directory to current_month_path
os.chdir(Master_directory_path)
os.getcwd()

'D:\\Side Hustles\\SSSVV activities\\SRC - Karnataka\\Monthly Reports\\Master Folder'

In [523]:
import gc
gc.collect()

import os
for file_name in os.listdir(Master_directory_path):
    print(file_name)

Chapters viewed per user KA Schools-main.xlsx
Consolidated_Count.xlsx
Files downloaded per user KASchoolsr.xlsx
Master_Feedback_List.xlsx
Master_Users_List.xlsx
~$Master_Views.xlsx

In [175]:
import zipfile
import openpyxl

In [644]:
dfs = []

for file_name in os.listdir(Master_directory_path):
    if file_name.endswith('.xlsx') and not file_name.startswith('~$'): # only read excel files that don't start with '~$'
        file_path = os.path.join(Master_directory_path, file_name) # get full file path
        try:
            df_dict = pd.read_excel(file_path, sheet_name=None, engine='openpyxl') # specify the engine to use
            for sheet_name, df in df_dict.items():
                dfs.append(df) # append dataframe to list
                print(f"Imported sheet '{sheet_name}' from file: {file_name}")
        except zipfile.BadZipFile:
            print(f"File '{file_name}' is not a valid Excel file.")

Imported sheet 'Sheet1' from file: Consolidated_Count.xlsx
Imported sheet 'Sheet1' from file: Master_Downloads.xlsx
Imported sheet 'Sheet1' from file: Master_Feedback_List.xlsx
Imported sheet 'Sheet1' from file: Master_Users_List.xlsx
Imported sheet 'Sheet1' from file: Master_Views.xlsx

In [526]:
cc_main = dfs[0]

master_downloads = dfs[1]
master_feedback = dfs[2]
master_users_list = dfs[3]
master_views = dfs[4]

## Master Views File

In [527]:
master_views.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,Class,Board,Subject,resource viewed,timestamp,Date
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,VI,CBSE,Science,CCDP CBSE Science STD VI Fun with Magnets,2022-12-05 13:53:10,2022-12-05
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,VI,CBSE,Science,Fun with Magnets,2022-12-05 13:54:01,2022-12-05
2,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,I,CBSE,EVS,My Neighbourhood,2022-12-05 05:04:53,2022-12-05
3,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,I,CBSE,EVS,My Neighbourhood,2022-12-05 05:04:55,2022-12-05
4,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,I,CBSE,EVS,Festivals,2022-12-14 05:09:06,2022-12-14

In [179]:
#Input Corrections needed

#General Check for any new inconsistency
#Spell Check Class, Board & Subject colums
#Clean School Names
#Clean Date Column
#Merge with current_views data

### 1. General Check for any new inconsistency

In [528]:
master_views.shape

(2003, 14)

In [529]:
master_views.columns

Index(['id', 'idnumber', 'username', 'firstname', 'lastname', 'email',
       'institution', 'shortname', 'Class', 'Board', 'Subject',
       'resource viewed', 'timestamp', 'Date'],
      dtype='object')

In [530]:
master_views.dtypes

id                          int64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
Class                      object
Board                      object
Subject                    object
resource viewed            object
timestamp          datetime64[ns]
Date               datetime64[ns]
dtype: object

In [531]:
master_views.isnull().sum()

id                   0
idnumber             0
username             0
firstname            0
lastname             0
email                0
institution          0
shortname            0
Class               27
Board              109
Subject             82
resource viewed     53
timestamp          397
Date               397
dtype: int64

In [532]:
master_views.describe(include=['O'])

,idnumber,username,firstname,lastname,email,institution,shortname,Class,Board,Subject,resource viewed
count,2003,2003,2003,2003,2003,2003,2003,1976,1894,1921,1950
unique,10,81,80,67,81,10,56,15,3,6,556
top,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,VII,CBSE,Maths,Practical Geometry
freq,685,190,190,190,190,685,119,297,1039,668,27

In [533]:
print("Number of Schools:", master_views["institution"].nunique())
print("Name of Schools:\n",master_views["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 10
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad                    685
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    467
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     372
Sri Sathya Sai Vidyaniketan, Bagepalli                         170
Sri Sathya Sai Vidya Kendra                                    153
Sri Eshwaramma English Medium High School, Tumakuru             60
Ananda Sai Shikshana Samsthe Shimoga                            33
Prashanti English Medium School, Siddapura                      31
Prashanthi Vidya Kendra, Bayar, Kasaragod                       30
SSSVV KA Volunteer                                               2
Name: institution, dtype: int64

In [534]:
print("Number of Schools:", current_users_list["institution"].nunique())
print("Name of Schools:\n",current_users_list["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 21
Name of Schools:
 Prashanthi Vidya Kendra, Bayar, Kasaragod                       27
Sri Sathya Sai School, Bhadravathi                              24
Sri Sathya Sai Vidyaniketan, Bagepalli                          23
Sri Sathya Sai Vidya Mandir School, Dharwad                     20
Sri Sathya Sai Vidya Kendra                                     16
Sri Eshwaramma English Medium High School, Tumakuru             12
Sri Sathya Sai Loka Seva High School, Alike                     10
Ananda Sai Shikshana Samsthe Shimoga                            10
Sri Sathya Sai Baba Higher Primary and High School, Mysuru       9
Sri Sathya Sai Academy of Integrated Education, Bhadravathi      7
SSSVV KA Volunteer                                               7
Prashanti English Medium School, Siddapura                       6
Sri Sathya Sai Academy Of Integrated Edcuation Bhadravati        6
Sri  Sathya Sai Primary and High School, Bagalkot                4
\tSri Sathya Sai Baba Higher Primary and High School, Mysuru     4
SSSVV KA Volunteer, Trainer, Mentor                              2
Sri Sathya Sai Loka Seva High School                             2
\tPrashanti English Medium School, Siddapura                     1
\tSri Sathya Sai Vidya Mandir School, Dharwad                    1
SSSSO KA Education Trust                                         1
Sri Sathya sai Vidyaniketan, Bagepalli                           1
Name: institution, dtype: int64

In [535]:
print("Number of Users:", master_views["id"].nunique())
print("Name of Users:\n",master_views["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 81
Name of Users:
 Kalpana           190
Shahanaz          135
Likhitha          115
Poornima          110
Jyoti             106
                 ...
Nagma Sulthana      1
Nandini             1
Deepa               1
NAGA                1
Bhavana             1
Name: firstname, Length: 80, dtype: int64

In [536]:
master_views["Class"].value_counts()

VII          297
VIII         291
I            256
V            244
VI           231
III          210
IV           177
II           125
IX            58
FN            40
FL            19
SN            16
Chemistry      7
Ii             4
SOPAAN         1
Name: Class, dtype: int64

In [537]:
master_views["Board"].value_counts()

CBSE       1039
KSSE        854
Content       1
Name: Board, dtype: int64

In [538]:
master_views["Subject"].value_counts()

Maths         668
EVS           486
Social        275
Science       262
English       229
Repackaged      1
Name: Subject, dtype: int64

### 2. Sepearate shortname column into 3 parts & Treat disordered values

In [539]:
master_views_data_check = master_views.copy()

In [540]:
# First remove existing split columns Class, Board, Subject

master_views_data_check = master_views_data_check.drop(["Class", "Board", "Subject","Date"], axis=1)

In [541]:
# Seperate shortname column
import re

# Define mapping dictionaries for Class, Board, and Subject
class_map = {'I': 1, 'II': 2,'Ii': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9,'SOPAAN':'SOPAAN'}
board_map = {'KSSE': 'KSSE', 'CBSE': 'CBSE', 'APSE': 'APSE','Content':'Content'}
subject_map = {'Maths': 'Maths', 'Science': 'Science','English': 'English', 'Social': 'Social', 'EVS': 'EVS','Repackaged':'Repackaged','Sample':'Sample'}


# Define a function to split the shortname column into Class, Board, and Subject columns
def split_shortname(shortname):
    # Initialize variables
    class_ = None
    board = None
    subject = None
    
    # Split the string into words
    words = re.findall(r'\b\w+\b', shortname)
    
    # Map the values to Class, Board, and Subject columns
    for word in words:
        if word in class_map:
            class_ = class_map[word]
        elif word in board_map:
            board = board_map[word]
        elif word in subject_map:
            subject = subject_map[word]
        elif word == 'SC':
            subject = 'Science'
        elif word == 'Chemistry':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
        elif word == 'Physics':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
        elif word == 'FN':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'FN'
        elif word == 'FL':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'FL'
        elif word == 'SN':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'SN'
            
    # Return the values as a tuple
    return (class_, board, subject)

# Split the shortname column into Class, Board, and Subject columns
master_views_data_check[['Class', 'Board', 'Subject']] = master_views_data_check['shortname'].apply(split_shortname).apply(pd.Series)

# Convert Class column to integers
#data['Class'] = pd.to_numeric(data['Class'])

# Sort the data by Class column
#data = data.sort_values('Class')

# Print the cleaned data
print(master_views_data_check)

#Save the cleaned dataframe to an excel file
master_views_data_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\master_views_data_check.xlsx", index=False)

        id idnumber          username   firstname  lastname  \
0     1575    KA000  chithra_srikanth     Chithra  Srikanth
1     1575    KA000  chithra_srikanth     Chithra  Srikanth
2      637    KA001         shwetha_l     Shwetha       L C
3      637    KA001         shwetha_l     Shwetha       L C
4      637    KA001         shwetha_l     Shwetha       L C
...    ...      ...               ...         ...       ...
1998  1761    KA015     samprutha.bgp   Samprutha         R
1999  2140    KA015      shravanthi.b  Shravanthi         B
2000  2140    KA015      shravanthi.b  Shravanthi         B
2001  2140    KA015      shravanthi.b  Shravanthi         B
2002  2140    KA015      shravanthi.b  Shravanthi         B

                            email                             institution  \
0     chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
1     chithrasrikanth76@gmail.com                      SSSVV KA Volunteer
2        shwethasunil87@gmail.com    Ananda Sai Shikshana Samsthe Shimoga
3        shwethasunil87@gmail.com    Ananda Sai Shikshana Samsthe Shimoga
4        shwethasunil87@gmail.com    Ananda Sai Shikshana Samsthe Shimoga
...                           ...                                     ...
1998      sampruthar873@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
1999          ss2690835@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
2000          ss2690835@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
2001          ss2690835@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli
2002          ss2690835@gmail.com  Sri Sathya Sai Vidyaniketan, Bagepalli

             shortname                            resource viewed  \
0      VI CBSE Science  CCDP CBSE Science STD VI Fun with Magnets
1      VI CBSE Science                           Fun with Magnets
2           I CBSE EVS                           My Neighbourhood
3           I CBSE EVS                           My Neighbourhood
4           I CBSE EVS                                  Festivals
...                ...                                        ...
1998      V KSSE Maths                          Weight and volume
1999   VI KSSE Science                   Electricity And Circuits
2000   VI KSSE Science                   Electricity And Circuits
2001  VII KSSE Science          Electric currents and its effects
2002        V KSSE EVS                             Amazing Energy

               timestamp Class Board  Subject
0    2022-12-05 13:53:10     6  CBSE  Science
1    2022-12-05 13:54:01     6  CBSE  Science
2    2022-12-05 05:04:53     1  CBSE      EVS
3    2022-12-05 05:04:55     1  CBSE      EVS
4    2022-12-14 05:09:06     1  CBSE      EVS
...                  ...   ...   ...      ...
1998 2023-01-17 06:12:41     5  KSSE    Maths
1999 2023-01-18 10:00:24     6  KSSE  Science
2000 2023-01-18 10:00:38     6  KSSE  Science
2001 2023-01-28 13:02:59     7  KSSE  Science
2002 2023-01-25 07:40:16     5  KSSE      EVS

[2003 rows x 13 columns]

In [542]:
master_views_data_check.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,CCDP CBSE Science STD VI Fun with Magnets,2022-12-05 13:53:10,6,CBSE,Science
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with Magnets,2022-12-05 13:54:01,6,CBSE,Science
2,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,2022-12-05 05:04:53,1,CBSE,EVS
3,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,2022-12-05 05:04:55,1,CBSE,EVS
4,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,Festivals,2022-12-14 05:09:06,1,CBSE,EVS

In [543]:
master_views_data_check.shape

(2003, 13)

In [544]:
master_views_data_check.isnull().sum()

id                   0
idnumber             0
username             0
firstname            0
lastname             0
email                0
institution          0
shortname            0
resource viewed     53
timestamp          397
Class                0
Board                0
Subject              0
dtype: int64

In [546]:
master_views_data_check['Class'].value_counts()

7              297
8              291
1              256
5              244
6              231
3              210
4              177
2              118
Not Entered    109
9               69
SOPAAN           1
Name: Class, dtype: int64

In [547]:
master_views_data_check['Board'].value_counts()

CBSE           1039
KSSE            854
Not Entered     109
Content           1
Name: Board, dtype: int64

In [548]:
master_views_data_check['Subject'].value_counts()

Maths         668
EVS           486
Social        275
Science       269
English       229
FN             40
FL             19
SN             16
Repackaged      1
Name: Subject, dtype: int64

In [200]:
#data = data.drop(data[(data['Class'] == 'Not Entered') | (data['Board'] == 'Not Entered')| data[(data['Board'] == 'Content') | (data['Subject'] == 'Repackaged') | (data['Subject'] == 'FN') | (data['Subject'] == 'FL') | (data['Subject'] == 'SN')].index)

### 3. change school name

In [549]:
master_views_school_check = master_views_data_check.copy()

In [550]:
print("Number of Schools : ",master_views_school_check['institution'].nunique())
master_views_school_check['institution'].value_counts()

Number of Schools :  10

Sri Sathya Sai Vidya Mandir School, Dharwad                    685
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    467
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     372
Sri Sathya Sai Vidyaniketan, Bagepalli                         170
Sri Sathya Sai Vidya Kendra                                    153
Sri Eshwaramma English Medium High School, Tumakuru             60
Ananda Sai Shikshana Samsthe Shimoga                            33
Prashanti English Medium School, Siddapura                      31
Prashanthi Vidya Kendra, Bayar, Kasaragod                       30
SSSVV KA Volunteer                                               2
Name: institution, dtype: int64

In [551]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga']

master_views_school_check['institution'] = master_views_school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(master_views_school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        master_views_school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            master_views_school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                master_views_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    master_views_school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    master_views_school_check.at[i, 'institution'] = school_name

In [552]:
print("Number of Schools : ",master_views_school_check['institution'].nunique())
master_views_school_check['institution'].value_counts()

Number of Schools :  10

Sri Sathya Sai Vidya Mandir School, Dharwad                    685
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    467
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     372
Sri Sathya Sai Vidyaniketan, Bagepalli                         170
Sri Sathya Sai Vidya Kendra                                    153
Sri Eshwaramma English Medium High School, Tumakuru             60
Ananda Sai Shikshana Samsthe Shimoga                            33
Prashanti English Medium School, Siddapura                      31
Prashanthi Vidya Kendra, Bayar, Kasaragod                       30
SSSVV KA Volunteer                                               2
Name: institution, dtype: int64

In [553]:
master_views_school_check.shape

(2003, 13)

### 4. Add Date Column

In [554]:
master_views_date_check = master_views_school_check.copy()

In [555]:
master_views_date_check['timestamp'].value_counts()

2023-01-18 05:13:12    4
2022-12-13 05:02:24    3
2023-01-13 04:25:16    2
2023-01-04 07:05:32    2
2023-01-02 10:18:19    2
                      ..
2022-12-01 16:35:56    1
2022-12-01 16:36:15    1
2022-12-01 16:35:52    1
2022-12-01 17:12:55    1
2023-01-25 07:40:16    1
Name: timestamp, Length: 1593, dtype: int64

In [556]:
master_views_date_check.dtypes

id                          int64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
resource viewed            object
timestamp          datetime64[ns]
Class                      object
Board                      object
Subject                    object
dtype: object

In [557]:
# convert timestamp column to datetime format
master_views_date_check['timestamp'] = pd.to_datetime(master_views_date_check['timestamp'])

# Create a new column 'Date' with datetime64 data type
#date_check['Date'] = pd.to_datetime(date_check['timestamp'].dt.date)
master_views_date_check['Date'] = pd.to_datetime(master_views_date_check['timestamp'], format='%d/%m/%Y', errors='coerce')

import pandas as pd

def add_date_column(df):
    if 'timestamp' in df.columns:
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['Date'] = pd.to_datetime(df['timestamp']).dt.date.astype(str).apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
    else:
        print("Error: dataframe does not contain 'Time' column")

In [210]:
#add_date_column(date_check)
#date_check.head()

In [558]:
master_views_date_check.dtypes

id                          int64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
resource viewed            object
timestamp          datetime64[ns]
Class                      object
Board                      object
Subject                    object
Date               datetime64[ns]
dtype: object

In [559]:
master_views_date_check['Date'].value_counts()

2023-01-18 05:13:12    4
2022-12-13 05:02:24    3
2023-01-13 04:25:16    2
2023-01-04 07:05:32    2
2023-01-02 10:18:19    2
                      ..
2022-12-01 16:35:56    1
2022-12-01 16:36:15    1
2022-12-01 16:35:52    1
2022-12-01 17:12:55    1
2023-01-25 07:40:16    1
Name: Date, Length: 1593, dtype: int64

In [560]:
#create new 'Date' column in desired format
master_views_date_check['Date'] = master_views_date_check['Date'].dt.strftime('%d/%m/%Y')

In [561]:
master_views_date_check['Date'].value_counts()

23/01/2023    112
09/12/2022     90
05/12/2022     80
24/01/2023     75
03/01/2023     65
             ...
16/12/2022      4
30/01/2023      4
30/12/2022      4
18/12/2022      3
28/01/2023      1
Name: Date, Length: 61, dtype: int64

In [562]:
master_views_date_check.dtypes

id                          int64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
resource viewed            object
timestamp          datetime64[ns]
Class                      object
Board                      object
Subject                    object
Date                       object
dtype: object

### Check Resource viewed column

In [563]:
master_views_resource_check = master_views_date_check.copy()

In [564]:
master_views_resource_check['resource viewed'].value_counts()

Practical Geometry                          27
Visualising Solid Shapes                    24
Data Handling                               23
Comparing Quantities                        23
Perimeter and Area                          22
                                            ..
CCDP KSSE Mathematics STD I Digits (1-9)     1
Digits 1 9                                   1
CCDP KSSE EVS STD I Plants around us         1
Introduction of Animals                      1
Number Systems                               1
Name: resource viewed, Length: 556, dtype: int64

In [565]:
print(master_views_resource_check['resource viewed'].dtype)

object

#### Create Content Type column

In [566]:
master_views_resource_check[master_views_resource_check['resource viewed'].isnull()]

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject,Date
58,1148,KA002,bdr.t26,ANTHONY,JEROME,anthonyjerome1479@gmail.com,Sri Sathya Sai Academy of Integrated Education...,III KSSE English,NaN,2022-12-21 19:30:12,3,KSSE,English,21/12/2022
59,1148,KA002,bdr.t26,ANTHONY,JEROME,anthonyjerome1479@gmail.com,Sri Sathya Sai Academy of Integrated Education...,III KSSE English,NaN,2022-12-21 19:30:18,3,KSSE,English,21/12/2022
137,2236,KA002,bdr.t07,Bharathi,T G,bharathinataraja@gmail.com,Sri Sathya Sai Academy of Integrated Education...,VII CBSE Maths,NaN,2022-12-05 15:36:20,7,CBSE,Maths,05/12/2022
138,2236,KA002,bdr.t07,Bharathi,T G,bharathinataraja@gmail.com,Sri Sathya Sai Academy of Integrated Education...,VII CBSE Maths,NaN,2022-12-05 15:36:32,7,CBSE,Maths,05/12/2022
139,2236,KA002,bdr.t07,Bharathi,T G,bharathinataraja@gmail.com,Sri Sathya Sai Academy of Integrated Education...,VII CBSE Maths,NaN,2022-12-05 15:42:02,7,CBSE,Maths,05/12/2022
158,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-04 09:37:46,4,CBSE,Maths,04/12/2022
159,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-04 09:37:48,4,CBSE,Maths,04/12/2022
160,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-05 13:11:28,4,CBSE,Maths,05/12/2022
161,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-05 13:11:31,4,CBSE,Maths,05/12/2022
162,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-05 14:30:23,4,CBSE,Maths,05/12/2022
163,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-05 14:30:24,4,CBSE,Maths,05/12/2022
164,2724,KA002,poornima.bdht,Poornima,N,Poornanithya0625@gmail.com,Sri Sathya Sai Academy of Integrated Education...,IV CBSE Maths,NaN,2022-12-05 14:57:37,4,CBSE,Maths,05/12/2022
221,649,KA006,anusha_hegde,Anusha,Hegde,anusha.sdp5@gmail.com,"Prashanti English Medium School, Siddapura",III KSSE English,NaN,2022-12-26 09:41:16,3,KSSE,English,26/12/2022
269,1573,KA007,jyoti_kurawatti,Jyoti,Kurawatti,jyoti.d.kurawatti@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",IV CBSE EVS,NaN,2022-12-09 10:33:41,4,CBSE,EVS,09/12/2022
270,1573,KA007,jyoti_kurawatti,Jyoti,Kurawatti,jyoti.d.kurawatti@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",IV CBSE EVS,NaN,2022-12-09 10:33:49,4,CBSE,EVS,09/12/2022
360,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,NaN,2022-12-09 06:41:05,5,CBSE,EVS,09/12/2022
361,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,NaN,2022-12-09 06:41:34,5,CBSE,EVS,09/12/2022
362,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,NaN,2022-12-09 06:41:55,5,CBSE,EVS,09/12/2022
363,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,NaN,2022-12-09 06:42:04,5,CBSE,EVS,09/12/2022
364,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,NaN,2022-12-09 06:42:10,5,CBSE,EVS,09/12/2022
365,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",V CBSE EVS,NaN,2022-12-13 05:02:24,5,CBSE,EVS,13/12/2022
642,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Ii KSSE English,NaN,2022-12-05 09:32:24,2,KSSE,English,05/12/2022
643,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Ii KSSE English,NaN,2022-12-05 09:32:29,2,KSSE,English,05/12/2022
644,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Ii KSSE English,NaN,2022-12-05 09:32:31,2,KSSE,English,05/12/2022
645,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 06:57:39,3,KSSE,English,05/12/2022
646,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 06:57:49,3,KSSE,English,05/12/2022
647,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 07:02:05,3,KSSE,English,05/12/2022
648,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 07:02:18,3,KSSE,English,05/12/2022
649,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 07:02:30,3,KSSE,English,05/12/2022
650,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 07:02:48,3,KSSE,English,05/12/2022
651,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Ii KSSE English,NaN,2022-12-05 09:33:22,2,KSSE,English,05/12/2022
652,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,Ii KSSE English,NaN,2022-12-05 09:33:26,2,KSSE,English,05/12/2022
653,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:10:36,3,KSSE,English,05/12/2022
654,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:10:43,3,KSSE,English,05/12/2022
655,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-02 06:12:52,3,KSSE,English,02/12/2022
656,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-02 06:12:57,3,KSSE,English,02/12/2022
657,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 06:57:01,3,KSSE,English,05/12/2022
658,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 06:57:03,3,KSSE,English,05/12/2022
659,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:12:05,3,KSSE,English,05/12/2022
660,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:12:07,3,KSSE,English,05/12/2022
661,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 06:57:23,3,KSSE,English,05/12/2022
662,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 06:57:26,3,KSSE,English,05/12/2022
663,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:16:00,3,KSSE,English,05/12/2022
664,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:16:08,3,KSSE,English,05/12/2022
665,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:17:03,3,KSSE,English,05/12/2022
666,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 08:17:27,3,KSSE,English,05/12/2022
667,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 09:27:41,3,KSSE,English,05/12/2022
668,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 09:27:45,3,KSSE,English,05/12/2022
669,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 09:28:19,3,KSSE,English,05/12/2022
670,2761,KA010,shahanaz.muskan,Shahanaz,Muskan,shahanazmuskan4@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,III KSSE English,NaN,2022-12-05 09:28:23,3,KSSE,English,05/12/2022
762,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",IX CBSE Maths,NaN,2022-12-06 05:07:35,9,CBSE,Maths,06/12/2022
763,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",IX CBSE Maths,NaN,2022-12-06 05:07:36,9,CBSE,Maths,06/12/2022
764,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",IX KSSE Maths,NaN,2022-12-02 09:49:46,9,KSSE,Maths,02/12/2022

In [567]:
master_views_resource_check['resource viewed'] = master_views_resource_check['resource viewed'].fillna("Not Entered")
master_views_resource_check[master_views_resource_check['resource viewed'].isnull()]

Empty DataFrame
Columns: [id, idnumber, username, firstname, lastname, email, institution, shortname, resource viewed, timestamp, Class, Board, Subject, Date]
Index: []

In [568]:
import re

# create function to categorize content type
def categorize(value):
    if 'CCDP' in value:
        return 'CCDP'
    elif re.search(r'(.pptx|.ppt|.mp4|MP4|.mp3)$',value):
        return 'MM Teaching Aids'
    #elif re.search(r'(QA\s|Worksheet|worksheet|Activity|Sheet$)',value):
        #return 'Learning Aids'
    #elif re.search(r'(\d{2}\s[A-Z]{2}\s|Worksheet|worksheet|Activity|Sheet$)',value):
        #return 'Learning Aids'
    #elif re.search(r'(SA\s|Worksheet|worksheet|Activity|Sheet$)',value):
        #return 'Learning Aids'
    elif re.search(r'(docx|Worksheet|worksheet|Sheet$)',value):
        return 'Learning Aids'
    elif re.search(r'(.docx)$',value):
        return 'Learning Aids'
    else:
        return 'MLP'

# apply function to create new column
master_views_resource_check['Content Type'] = master_views_resource_check['resource viewed'].apply(categorize)

master_views_resource_check['Content Type'].value_counts()

MLP              1616
CCDP              357
Learning Aids      30
Name: Content Type, dtype: int64

#### Create File format type column

In [569]:
import re

# create function to categorize Asset type
def categorize(value):
    if '.xlsx' in value:
        return 'Spreadsheet'
    elif re.search(r'(.pptx|.ppt)',value):
        return 'PPT slide'
    elif re.search(r'(.mp4|MP4|.mp3)$',value):
        return 'Audio'
    elif 'pdf' in value:
        return 'PDF'
    elif 'docx' in value:
        return 'Word document'
    else:
        return 'Unkown'

# apply function to create new column
master_views_resource_check['File Format Type'] = master_views_resource_check['resource viewed'].apply(categorize)

master_views_resource_check['File Format Type'].value_counts()

Unkown    2003
Name: File Format Type, dtype: int64

#### Create Asset type column

In [570]:
import re

# create function to categorize Asset type
def categorize(value):
    if 'MS' in value:
        return 'Main Script'
    elif 'DD' in value:
        return 'Day to Day Relevance'
    elif 'QA' in value:
        return 'Question to Assess'
    elif 'VC' in value:
        return 'Value Content'
    elif 'IA' in value:
        return 'Interesting Asides'
    elif 'IQ' in value:
        return 'Inquisitive Questions'
    elif 'SA' in value:
        return 'Suggested Activity'
    elif 'CCDP' in value:
        return 'CCDP'
    elif 'LA' in value:
        return 'LA'
    elif 'TA' in value:
        return 'TA'
    elif 'MT' in value:
        return 'MT'
    elif 'AS' in value:
        return 'AS'
    elif 'pdf' in value:
        return 'Master Lesson Plan'
    else:
        return 'Not Mentioned'

# apply function to create new column
master_views_resource_check['Asset Type'] = master_views_resource_check['resource viewed'].apply(categorize)

master_views_resource_check['Asset Type'].value_counts()

Not Mentioned         1591
CCDP                   357
Question to Assess      35
Suggested Activity      19
AS                       1
Name: Asset Type, dtype: int64

In [229]:
#master_views_check[master_views_check['Asset Type']=='Not Mentioned']

#### Clean resource viewed column

In [230]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    
    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()

# test the function with some sample inputs
titles = [
    'VII - The Roman Empire',
    'IV - The Dark Ages',
    'V - The Renaissance',
    'I - The Origins of Civilization',
    'IX - The Age of Exploration',
    'X - The Modern World',
    'Introduction','Vijaynagar Empire',
    'CCDP English Language Arts',
    'SA History and Culture',
    'Class X Mathematics - Chapter 1',
    'CBSE Class IX Physics - Chapter 3',
    'KSSE Biology - Grade 9',
    'STD X English Grammar',
    '5 Digit Numbers','CCDP KSSE Mathematics STD V 5-Digit Numbers',
    'Grade 5 Science',
    'A snake charmer&#039;s story',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Mathematics STD VIII Cube and Cube Roots',
    'Herons Formula',
    'CCDP KSSE Mathematics STD IX Herons Formula',
    'A day in the garden',
    'Honey sweet honey',
    'Atmosphere',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    'Comprehension',
    '01 SA Picture Comprehension',
    'Tenses',
    'CCDP KSSE English STD III Tenses',
    'Prepositions',
    'CCDP KSSE English STD IV Prepositions',
    'Genders','I need these'

]

for title in titles:
    print(f"{title} -> {clean_title(title)}")

VII - The Roman Empire -> I - The Roman Empire
IV - The Dark Ages -> - The Dark Ages
V - The Renaissance -> - The Renaissance
I - The Origins of Civilization -> I - The Origins of Civilization
IX - The Age of Exploration -> - The Age of Exploration
X - The Modern World -> - The Modern World
Introduction -> Introduction
Vijaynagar Empire -> Vijaynagar Empire
CCDP English Language Arts -> Language Arts
SA History and Culture -> History and Culture
Class X Mathematics - Chapter 1 -> - 1
CBSE Class IX Physics - Chapter 3 -> Physics - 3
KSSE Biology - Grade 9 -> Biology - 9
STD X English Grammar -> STD Grammar
5 Digit Numbers -> 5 Digit Numbers
CCDP KSSE Mathematics STD V 5-Digit Numbers -> 5-Digit Numbers
Grade 5 Science -> 5 Science
A snake charmer&#039;s story -> A snake charmer&#039;s story
Multiplication 2 -> Multiplication 2
Hu Tu Tu Hu Tu Tu -> Hu Tu Tu Hu Tu Tu
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
03 QA Testing Usage of Nouns Worksheet. -> Testing Usage of Nouns Worksheet
CCDP KSSE Mathematics STD VIII Cube and Cube Roots -> Cube and Cube Roots
Herons Formula -> Herons Formula
CCDP KSSE Mathematics STD IX Herons Formula -> Herons Formula
A day in the garden -> A day in the garden
Honey sweet honey -> Honey sweet honey
Atmosphere -> Atmosphere
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
Comprehension -> Comprehension
01 SA Picture Comprehension -> Picture Comprehension
Tenses -> Tenses
CCDP KSSE English STD III Tenses -> Tenses
Prepositions -> Prepositions
CCDP KSSE English STD IV Prepositions -> Prepositions
Genders -> Genders
I need these -> I need these

In [571]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()

#Apply the clean_text function to the 'resource viewed' column of the 'resource_check' dataframe 

master_views_resource_check['course module'] = master_views_resource_check['resource viewed'].apply(clean_title)

master_views_resource_check['course module'].value_counts() 
#print(master_views_check)

Not Entered              53
Verbs                    32
Practical Geometry       29
Comparing Quantities     29
Data Handling            26
                         ..
5-Digit Numbers           1
We Need a House           1
Number 11 t0 20           1
Measurement of Volume     1
Number Systems            1
Name: course module, Length: 433, dtype: int64

#### Correct Spelling

from spellchecker import SpellChecker
import re

#Initialize spell checker
spell = SpellChecker()

#Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    #Join the corrected words back into a single string
    return " ".join(corrected_words)

#test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {correct_spelling(title)}")

from spellchecker import SpellChecker
import re

#Initialize spell checker
spell = SpellChecker()

#Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    #Join the corrected words back into a single string
    return " ".join(corrected_words)

#Apply correct_spelling() function to 'chapter title' column
resource_check['chapter title cleaned'] = resource_check['chapter title'].apply(correct_spelling)
resource_check['chapter title cleaned'].value_counts()

#### Capitalize first letter

import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if word.lower() not in ['in', 'the', 'to', 'on', 'at', 'into', 'and','a','with','of']:
            words[i] = word.title()
    return " ".join(words)

#test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {clean_chapter_name(title)}")

def clean_chapter_name(chapter_name):
    words = chapter_name.split()
    for i, word in enumerate(words):
        if i == 0 or word.lower() not in ['in','the' 'to', 'on', 'at', 'into', 'and','a','of','with','it','so','']:
            words[i] = word.capitalize()
    return " ".join(words)
#apply function to chapter_name_cleaneed column
resource_check['chapter title cleaned'] = resource_check['chapter title cleaned'].apply(clean_chapter_name)

resource_check['chapter title cleaned'].value_counts()

In [572]:
#Save the cleaned dataframe to an excel file
master_views_resource_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\master_views_check.xlsx", index=False)

### 5. Merge with current month data

In [573]:
master_views_resource_check_cleaned = master_views_resource_check.copy()

In [574]:
master_views_resource_check_cleaned.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type,course module
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,CCDP CBSE Science STD VI Fun with Magnets,2022-12-05 13:53:10,6,CBSE,Science,05/12/2022,CCDP,Unkown,CCDP,Fun with Magnets
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with Magnets,2022-12-05 13:54:01,6,CBSE,Science,05/12/2022,MLP,Unkown,Not Mentioned,Fun with Magnets
2,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,2022-12-05 05:04:53,1,CBSE,EVS,05/12/2022,MLP,Unkown,Not Mentioned,My Neighbourhood
3,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,2022-12-05 05:04:55,1,CBSE,EVS,05/12/2022,MLP,Unkown,Not Mentioned,My Neighbourhood
4,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,Festivals,2022-12-14 05:09:06,1,CBSE,EVS,14/12/2022,MLP,Unkown,Not Mentioned,Festivals

In [580]:
master_views_resource_check_cleaned.shape

(2003, 18)

In [575]:
current_views_cleaned.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type,course module
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Food Components,2023-02-11 16:46:22,7.0,APSE,Science,11/02/2023,MLP,Unkown,Not Mentioned,Food Components
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,Animal Fibre,2023-02-13 00:34:08,7.0,APSE,Science,13/02/2023,MLP,Unkown,Not Mentioned,Animal Fibre
2,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VII APSE Science,CCDP APSE Science STD VII Food Components,2023-02-11 16:46:33,7.0,APSE,Science,11/02/2023,CCDP,Unkown,CCDP,Food Components
3,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,IX CBSE Science,Tissues,2023-02-13 03:11:20,9.0,CBSE,Science,13/02/2023,MLP,Unkown,Not Mentioned,Tissues
4,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI APSE Science,Fun with Magnets,2023-02-02 15:14:49,6.0,APSE,Science,02/02/2023,MLP,Unkown,Not Mentioned,Fun with Magnets

In [579]:
current_views_cleaned.shape

(439, 18)

In [577]:
# Concatenate the filtered data with the previous months' data
master_views_comb = pd.concat([master_views_resource_check_cleaned, current_views_cleaned], ignore_index=True)

In [578]:
master_views_comb.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,resource viewed,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type,course module
0,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,CCDP CBSE Science STD VI Fun with Magnets,2022-12-05 13:53:10,6,CBSE,Science,05/12/2022,CCDP,Unkown,CCDP,Fun with Magnets
1,1575,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with Magnets,2022-12-05 13:54:01,6,CBSE,Science,05/12/2022,MLP,Unkown,Not Mentioned,Fun with Magnets
2,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,2022-12-05 05:04:53,1,CBSE,EVS,05/12/2022,MLP,Unkown,Not Mentioned,My Neighbourhood
3,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,2022-12-05 05:04:55,1,CBSE,EVS,05/12/2022,MLP,Unkown,Not Mentioned,My Neighbourhood
4,637,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,Festivals,2022-12-14 05:09:06,1,CBSE,EVS,14/12/2022,MLP,Unkown,Not Mentioned,Festivals

In [581]:
master_views_comb.shape

(2442, 18)

### 6. Save file in master path

In [582]:
master_views_comb_cleaned = master_views_comb.copy()

In [583]:
# Rename the file with the current month and year
master_views_ = f'Master_Views.xlsx'

In [584]:
#Set the new file path
master_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Master Folder', master_views_)

#Save the dataframe to the new file path
master_views_comb_cleaned.to_excel(master_path, index=False)

## Master Feedback File

In [457]:
master_feedback.head()

,Time,Date,id,idnumber,username,firstname,lastname,email,institution,email entered,...,dd,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,userid
0,2022-11-16 07:53:41,2022-11-16,630,KA014,varshini_s,Varshini,S P,varshinisettypal@gmail.com,Sri Sathya Sai Vidya Kendra,varshinisettypal@gmail.com,...,4.0,5.0,5.0,1.0,1.0,1.0,1.0,no,no,630
1,2022-11-17 06:41:47,2022-11-17,2133,KA015,yarab.baba,Yarab,baba,yarabbaba94@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",yarabbaba94@gmail.com,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,"which content given in this it&#039;s good, bu...",2133
2,2022-11-17 09:43:29,2022-11-17,571,KA015,subbalakshmamma,Subbalakshmamma,B O,lakshmalakshmi24@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",lakshmilakshma24@gmail.com,...,5.0,5.0,5.0,1.0,1.0,1.0,1.0,No comments.,The content is easy and simple.Students are en...,571
3,2022-11-17 10:01:37,2022-11-17,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",NaN,...,5.0,4.0,5.0,1.0,1.0,1.0,1.0,no,NaN,559
4,2022-11-28 08:58:00,2022-11-28,576,KA015,bhagya_v,Bhagya,V,bhagyanagaraju6@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",bhagyanagaraju6@gmail.com,...,5.0,5.0,4.0,1.0,1.0,1.0,1.0,NaN,Good,576

In [237]:
#Input Corrections needed

#General Check for any new inconsistency
#Spell Check Class, Board & Subject colums
#Clean School Names
#Clean Date Column
#Merge with current_views data

### 1. General Check for any new inconsistency

In [458]:
master_feedback.shape

(94, 25)

In [459]:
master_feedback.columns

Index(['Time', 'Date', 'id', 'idnumber', 'username', 'firstname', 'lastname',
       'email', 'institution', 'email entered', 'chapter name', 'mainscript',
       'iq', 'sa', 'qa', 'dd', 'vc', 'ia', 'comm. 1', 'comm. 2', 'comm. 3',
       'comm. 4', 'comm. 5', 'comm. 6', 'userid'],
      dtype='object')

In [460]:
master_feedback.dtypes

Time                     object
Date             datetime64[ns]
id                        int64
idnumber                 object
username                 object
firstname                object
lastname                 object
email                    object
institution              object
email entered            object
chapter name             object
mainscript                int64
iq                      float64
sa                      float64
qa                      float64
dd                      float64
vc                      float64
ia                      float64
comm. 1                 float64
comm. 2                 float64
comm. 3                 float64
comm. 4                 float64
comm. 5                  object
comm. 6                  object
userid                    int64
dtype: object

In [461]:
master_feedback.isnull().sum()

Time              0
Date              0
id                0
idnumber          0
username          0
firstname         0
lastname          0
email             0
institution       0
email entered     3
chapter name      2
mainscript        0
iq                6
sa                3
qa                6
dd                7
vc                8
ia                8
comm. 1           8
comm. 2           2
comm. 3           3
comm. 4           3
comm. 5          66
comm. 6          67
userid            0
dtype: int64

In [462]:
master_feedback.describe(include=['O'])

,Time,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,comm. 5,comm. 6
count,94,94,94,94,94,94,94,91,92,28,27
unique,94,5,18,18,18,18,5,19,84,9,11
top,2022-11-16 07:53:41,KA007,sssvm.saisowmya,Sai Sowmya,Kalyanam,saisowmyakalyanam@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saisowmyakalyanam@gmail.com,money,No,No
freq,1,80,34,34,34,34,80,34,2,11,12

In [463]:
print("Number of Schools:", master_feedback["institution"].nunique())
print("Name of Schools:\n",master_feedback["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 5
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad            80
Sri Sathya Sai Vidyaniketan, Bagepalli                  8
Sri Sathya Sai Vidya Kendra                             4
Sri Eshwaramma English Medium High School, Tumakuru     1
Prashanthi Vidya Kendra, Bayar, Kasaragod               1
Name: institution, dtype: int64

In [464]:
print("Number of Schools:", master_feedback["institution"].nunique())
print("Name of Schools:\n",master_feedback["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 5
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad            80
Sri Sathya Sai Vidyaniketan, Bagepalli                  8
Sri Sathya Sai Vidya Kendra                             4
Sri Eshwaramma English Medium High School, Tumakuru     1
Prashanthi Vidya Kendra, Bayar, Kasaragod               1
Name: institution, dtype: int64

In [465]:
print("Number of Users:", master_feedback["id"].nunique())
print("Name of Users:\n",master_feedback["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 18
Name of Users:
 Sai Sowmya         34
Jyoti              16
Veerayya           11
Jayalaxmi           8
Kalawati            6
Sarala              3
Chaitra             3
Nandini             2
Varshini            2
Bhagyalakshmi       1
Manisha             1
Subbalakshmamma     1
Bhagya              1
Yarab               1
Chandralekha        1
Rakshitha           1
Sowmya A            1
Kalpana             1
Name: firstname, dtype: int64

### 2. Remove Date Column

In [466]:
master_feedback_date = master_feedback.copy()

In [467]:
# First remove existing split columns Class, Board, Subject

master_feedback_date = master_feedback_date.drop(["Date"], axis=1)

In [468]:
master_feedback_date.head()

,Time,id,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,dd,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,userid
0,2022-11-16 07:53:41,630,KA014,varshini_s,Varshini,S P,varshinisettypal@gmail.com,Sri Sathya Sai Vidya Kendra,varshinisettypal@gmail.com,money,...,4.0,5.0,5.0,1.0,1.0,1.0,1.0,no,no,630
1,2022-11-17 06:41:47,2133,KA015,yarab.baba,Yarab,baba,yarabbaba94@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",yarabbaba94@gmail.com,vijayanagara empire,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,"which content given in this it&#039;s good, bu...",2133
2,2022-11-17 09:43:29,571,KA015,subbalakshmamma,Subbalakshmamma,B O,lakshmalakshmi24@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",lakshmilakshma24@gmail.com,Multiplication 2,...,5.0,5.0,5.0,1.0,1.0,1.0,1.0,No comments.,The content is easy and simple.Students are en...,571
3,2022-11-17 10:01:37,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",NaN,NaN,...,5.0,4.0,5.0,1.0,1.0,1.0,1.0,no,NaN,559
4,2022-11-28 08:58:00,576,KA015,bhagya_v,Bhagya,V,bhagyanagaraju6@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",bhagyanagaraju6@gmail.com,India Political and Cultural,...,5.0,5.0,4.0,1.0,1.0,1.0,1.0,NaN,Good,576

In [469]:
master_feedback_date.shape

(94, 24)

In [470]:
master_feedback_date.isnull().sum()

Time              0
id                0
idnumber          0
username          0
firstname         0
lastname          0
email             0
institution       0
email entered     3
chapter name      2
mainscript        0
iq                6
sa                3
qa                6
dd                7
vc                8
ia                8
comm. 1           8
comm. 2           2
comm. 3           3
comm. 4           3
comm. 5          66
comm. 6          67
userid            0
dtype: int64

### 3. change school name

In [471]:
master_feedback_school_check = master_feedback_date.copy()

In [472]:
print("Number of Schools : ",master_feedback_school_check['institution'].nunique())
master_feedback_school_check['institution'].value_counts()

Number of Schools :  5

Sri Sathya Sai Vidya Mandir School, Dharwad            80
Sri Sathya Sai Vidyaniketan, Bagepalli                  8
Sri Sathya Sai Vidya Kendra                             4
Sri Eshwaramma English Medium High School, Tumakuru     1
Prashanthi Vidya Kendra, Bayar, Kasaragod               1
Name: institution, dtype: int64

In [473]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga']

school_check['institution'] = school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    school_check.at[i, 'institution'] = school_name

In [474]:
print("Number of Schools : ",master_feedback_school_check['institution'].nunique())
master_feedback_school_check['institution'].value_counts()

Number of Schools :  5

Sri Sathya Sai Vidya Mandir School, Dharwad            80
Sri Sathya Sai Vidyaniketan, Bagepalli                  8
Sri Sathya Sai Vidya Kendra                             4
Sri Eshwaramma English Medium High School, Tumakuru     1
Prashanthi Vidya Kendra, Bayar, Kasaragod               1
Name: institution, dtype: int64

In [475]:
master_feedback_school_check.shape

(94, 24)

### 4. Add Date Column

In [476]:
master_feedback_date_add = master_feedback_school_check.copy()

In [477]:
master_feedback_date_add['Time'].value_counts()

2022-11-16 07:53:41    1
2023-01-23 04:46:53    1
2023-01-23 10:42:40    1
2023-01-23 10:40:28    1
2023-01-23 10:20:41    1
                      ..
2023-01-18 09:31:52    1
2023-01-18 09:30:33    1
2023-01-18 09:27:36    1
2023-01-17 13:32:16    1
2023-01-24 16:12:07    1
Name: Time, Length: 94, dtype: int64

In [478]:
master_feedback_date_add.dtypes

Time              object
id                 int64
idnumber          object
username          object
firstname         object
lastname          object
email             object
institution       object
email entered     object
chapter name      object
mainscript         int64
iq               float64
sa               float64
qa               float64
dd               float64
vc               float64
ia               float64
comm. 1          float64
comm. 2          float64
comm. 3          float64
comm. 4          float64
comm. 5           object
comm. 6           object
userid             int64
dtype: object

In [479]:
# convert timestamp column to datetime format
master_feedback_date_add['Time'] = pd.to_datetime(master_feedback_date_add['Time'])

# Create a new column 'Date' with datetime64 data type
master_feedback_date_add['Date'] = pd.to_datetime(master_feedback_date_add['Time'], format='%d/%m/%Y', errors='coerce')

import pandas as pd

def add_date_column(df):
    if 'timestamp' in df.columns:
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['Date'] = pd.to_datetime(df['timestamp']).dt.date.astype(str).apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
    else:
        print("Error: dataframe does not contain 'Time' column")

In [260]:
#add_date_column(date_check)
#date_check.head()

In [480]:
master_feedback_date_add.dtypes

Time             datetime64[ns]
id                        int64
idnumber                 object
username                 object
firstname                object
lastname                 object
email                    object
institution              object
email entered            object
chapter name             object
mainscript                int64
iq                      float64
sa                      float64
qa                      float64
dd                      float64
vc                      float64
ia                      float64
comm. 1                 float64
comm. 2                 float64
comm. 3                 float64
comm. 4                 float64
comm. 5                  object
comm. 6                  object
userid                    int64
Date             datetime64[ns]
dtype: object

In [481]:
master_feedback_date_add['Date'].value_counts()

2022-11-16 07:53:41    1
2023-01-23 04:46:53    1
2023-01-23 10:42:40    1
2023-01-23 10:40:28    1
2023-01-23 10:20:41    1
                      ..
2023-01-18 09:31:52    1
2023-01-18 09:30:33    1
2023-01-18 09:27:36    1
2023-01-17 13:32:16    1
2023-01-24 16:12:07    1
Name: Date, Length: 94, dtype: int64

In [482]:
#create new 'Date' column in desired format
master_feedback_date_add['Date'] = master_feedback_date_add['Date'].dt.strftime('%d/%m/%Y')

In [483]:
master_feedback_date_add['Date'].value_counts()

18/01/2023    29
24/01/2023    23
23/01/2023    15
16/01/2023     8
17/01/2023     4
17/11/2022     3
06/12/2022     3
02/01/2023     2
16/11/2022     1
28/11/2022     1
29/11/2022     1
19/12/2022     1
22/12/2022     1
09/01/2023     1
13/01/2023     1
Name: Date, dtype: int64

In [484]:
master_feedback_date_add.dtypes

Time             datetime64[ns]
id                        int64
idnumber                 object
username                 object
firstname                object
lastname                 object
email                    object
institution              object
email entered            object
chapter name             object
mainscript                int64
iq                      float64
sa                      float64
qa                      float64
dd                      float64
vc                      float64
ia                      float64
comm. 1                 float64
comm. 2                 float64
comm. 3                 float64
comm. 4                 float64
comm. 5                  object
comm. 6                  object
userid                    int64
Date                     object
dtype: object

### Check chapter name column

In [485]:
master_feedback_check = master_feedback_date_add.copy()

In [486]:
master_feedback_check['chapter name'].value_counts()

money                     2
Rational Numbers          2
smart charts              2
how many times            2
patterns                  2
                         ..
footprints                1
counting in tens          1
can we share              1
Jugs and Mugs             1
women change the world    1
Name: chapter name, Length: 84, dtype: int64

In [487]:
print(master_feedback_check['chapter name'].dtype)

object

In [488]:
master_feedback_check.isnull().sum()

Time              0
id                0
idnumber          0
username          0
firstname         0
lastname          0
email             0
institution       0
email entered     3
chapter name      2
mainscript        0
iq                6
sa                3
qa                6
dd                7
vc                8
ia                8
comm. 1           8
comm. 2           2
comm. 3           3
comm. 4           3
comm. 5          66
comm. 6          67
userid            0
Date              0
dtype: int64

In [489]:
# Fill the null values in the 'chapter name' column with 'Not Entered'
master_feedback_check['chapter name'] = master_feedback_check['chapter name'].fillna('Not Entered')

In [490]:
non_string_values = feedback_check[~feedback_check['chapter name'].apply(lambda x: isinstance(x, str))]
print(non_string_values)

Empty DataFrame
Columns: [Time, userid, idnumber, username, firstname, lastname, email, institution, email entered, chapter name, mainscript, iq, sa, qa, dd, vc, ia, comm. 1, comm. 2, comm. 3, comm. 4, comm. 5, comm. 6, Date, course module]
Index: []

[0 rows x 25 columns]

#### Correct Spelling

In [277]:
from spellchecker import SpellChecker
import re

# Initialize spell checker
spell = SpellChecker()

# Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    # Join the corrected words back into a single string
    return " ".join(corrected_words)

# Apply correct_spelling() function to 'chapter name' column
#feedback_check['spelling check'] = feedback_check['chapter name'].apply(correct_spelling)

# test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'money',
    'vijayanagara empire',
    'Multiplication 2',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {correct_spelling(title)}")

Stars and the solar system -> stars and the solar system
money -> money
vijayanagara empire -> vijayanagara empire
Multiplication 2 -> multiplication 2
India Political and Cultural -> india political and cultural
introduction to graph -> introduction to graph
exponents powers -> exponents powers
Introduction -> introduction
linear equations in two variables -> linear equations in two variables
Abdul in the Garden -> abdul in the garden
numbers 1 t0 20 -> numbers 1 to 20
Eating Togerher -> eating together
Reprosuction in Animals -> reproduction in animals
A snake charmer&#039;s story -> a snake charmer 039 i story
how many ponytails? -> how many ponytails

In [491]:
from spellchecker import SpellChecker
import re

# Initialize spell checker
spell = SpellChecker()

# Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    # Join the corrected words back into a single string
    return " ".join(corrected_words)

# apply function to create new column
master_feedback_check['course module'] = master_feedback_check['chapter name'].apply(correct_spelling)

master_feedback_check['course module'].value_counts()

money                     3
rational numbers          2
smart charts              2
patterns                  2
how many times            2
                         ..
my sunday                 1
tens and ones             1
footprints                1
counting in tens          1
women change the world    1
Name: course module, Length: 81, dtype: int64

#### Capitalize first letter

In [279]:
import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if i == 0 or word.lower() not in ['in','the', 'to', 'on', 'at', 'into', 'and','a','with']:
            words[i] = word.capitalize()
    return " ".join(words)

# test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'money',
    'vijayanagara empire',
    'Multiplication 2',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden','A snake charmer&#039;s story',
    'how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {clean_chapter_name(title)}")

Stars and the solar system -> Stars and the Solar System
money -> Money
vijayanagara empire -> Vijayanagara Empire
Multiplication 2 -> Multiplication 2
India Political and Cultural -> India Political and Cultural
introduction to graph -> Introduction to Graph
exponents powers -> Exponents Powers
Introduction -> Introduction
linear equations in two variables -> Linear Equations in Two Variables
Abdul in the Garden -> Abdul in the Garden
A snake charmer&#039;s story -> A Snake Charmers Story
how many ponytails? -> How Many Ponytails?

In [492]:
import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    chapter_name = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|class|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', chapter_name)
    
    # remove trailing hyphens, spaces, and periods
    chapter_name = re.sub(r'[-.\s]*$', '', chapter_name)
    chapter_name = re.sub(r'^\s+ \s$', '', chapter_name)
    chapter_name = re.sub(r'^\s+ ', '', chapter_name)

    
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if i == 0 or word.lower() not in ['in','the', 'to', 'on', 'at', 'into', 'and','a','with']:
            words[i] = word.capitalize()
    return " ".join(words)

# apply function to chapter_name_cleaneed column
master_feedback_check['course module'] = master_feedback_check['course module'].apply(clean_chapter_name)

master_feedback_check['course module'].value_counts()

Money                     3
Rational Numbers          2
Smart Charts              2
Patterns                  2
How Many Times            2
                         ..
My Sunday                 1
Tens and Ones             1
Footprints                1
Counting in Tens          1
Women Change the World    1
Name: course module, Length: 81, dtype: int64

In [500]:
master_feedback_check.head()

,Time,id,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,Date,course module
0,2022-11-16 07:53:41,630,KA014,varshini_s,Varshini,S P,varshinisettypal@gmail.com,Sri Sathya Sai Vidya Kendra,varshinisettypal@gmail.com,money,...,5.0,5.0,1.0,1.0,1.0,1.0,no,no,16/11/2022,Money
1,2022-11-17 06:41:47,2133,KA015,yarab.baba,Yarab,baba,yarabbaba94@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",yarabbaba94@gmail.com,vijayanagara empire,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,"which content given in this it&#039;s good, bu...",17/11/2022,Vijayanagara Empire
2,2022-11-17 09:43:29,571,KA015,subbalakshmamma,Subbalakshmamma,B O,lakshmalakshmi24@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",lakshmilakshma24@gmail.com,Multiplication 2,...,5.0,5.0,1.0,1.0,1.0,1.0,No comments.,The content is easy and simple.Students are en...,17/11/2022,Multiplication 2
3,2022-11-17 10:01:37,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",NaN,Not Entered,...,4.0,5.0,1.0,1.0,1.0,1.0,no,NaN,17/11/2022,Not Entered
4,2022-11-28 08:58:00,576,KA015,bhagya_v,Bhagya,V,bhagyanagaraju6@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",bhagyanagaraju6@gmail.com,India Political and Cultural,...,5.0,4.0,1.0,1.0,1.0,1.0,NaN,Good,28/11/2022,India Political and Cultural

In [501]:
#Save the cleaned dataframe to an excel file
master_feedback_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\master_feedback_check.xlsx", index=False)

### 5. Merge with current month data

In [502]:
master_feedback_check_cleaned = master_feedback_check.copy()

In [503]:
master_feedback_check_cleaned.head()

,Time,id,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,Date,course module
0,2022-11-16 07:53:41,630,KA014,varshini_s,Varshini,S P,varshinisettypal@gmail.com,Sri Sathya Sai Vidya Kendra,varshinisettypal@gmail.com,money,...,5.0,5.0,1.0,1.0,1.0,1.0,no,no,16/11/2022,Money
1,2022-11-17 06:41:47,2133,KA015,yarab.baba,Yarab,baba,yarabbaba94@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",yarabbaba94@gmail.com,vijayanagara empire,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,"which content given in this it&#039;s good, bu...",17/11/2022,Vijayanagara Empire
2,2022-11-17 09:43:29,571,KA015,subbalakshmamma,Subbalakshmamma,B O,lakshmalakshmi24@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",lakshmilakshma24@gmail.com,Multiplication 2,...,5.0,5.0,1.0,1.0,1.0,1.0,No comments.,The content is easy and simple.Students are en...,17/11/2022,Multiplication 2
3,2022-11-17 10:01:37,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",NaN,Not Entered,...,4.0,5.0,1.0,1.0,1.0,1.0,no,NaN,17/11/2022,Not Entered
4,2022-11-28 08:58:00,576,KA015,bhagya_v,Bhagya,V,bhagyanagaraju6@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",bhagyanagaraju6@gmail.com,India Political and Cultural,...,5.0,4.0,1.0,1.0,1.0,1.0,NaN,Good,28/11/2022,India Political and Cultural

In [451]:
current_feedback_cleaned.head()

,Time,userid,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,Date,course module
0,2023-02-02 06:31:39,2059,KA007,sssvm.jayalaxmi,Jayalaxmi,CP,laxmisssvm@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",laxmisssvm@gmail.com,Coordinate geometry,...,5,4,1,1,1,1,NaN,NaN,02/02/2023,Coordinate Geometry
1,2023-02-04 09:15:43,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Poonams day out,...,5,5,1,1,1,1,NaN,NaN,04/02/2023,Noonas Day Out
2,2023-02-04 09:17:01,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,The plant fairy,...,5,5,1,1,1,1,NaN,NaN,04/02/2023,The Plant Fairy
3,2023-02-04 09:17:02,2135,KA007,malashree.nayyar,Malashree,Nayyar,malashreenayyar@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",malashreenayyar@gmail.com,Across the walls,...,4,4,1,1,1,1,NaN,NaN,04/02/2023,Across the Walls
4,2023-02-04 09:18:08,1598,KA007,sssvm.saismitha,Sai Smitha,Sahoo,saismitaofficial@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",saismitasahoo58@gmail.com,Water O Water,...,5,5,1,1,1,1,NaN,NaN,04/02/2023,Water O Water

In [506]:
# Concatenate the filtered data with the previous months' data
master_feedback_comb = pd.concat([master_feedback_check_cleaned, current_feedback_cleaned], ignore_index=True)

In [507]:
master_feedback_comb.head()

,Time,id,idnumber,username,firstname,lastname,email,institution,email entered,chapter name,...,vc,ia,comm. 1,comm. 2,comm. 3,comm. 4,comm. 5,comm. 6,Date,course module
0,2022-11-16 07:53:41,630,KA014,varshini_s,Varshini,S P,varshinisettypal@gmail.com,Sri Sathya Sai Vidya Kendra,varshinisettypal@gmail.com,money,...,5.0,5.0,1.0,1.0,1.0,1.0,no,no,16/11/2022,Money
1,2022-11-17 06:41:47,2133,KA015,yarab.baba,Yarab,baba,yarabbaba94@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",yarabbaba94@gmail.com,vijayanagara empire,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,"which content given in this it&#039;s good, bu...",17/11/2022,Vijayanagara Empire
2,2022-11-17 09:43:29,571,KA015,subbalakshmamma,Subbalakshmamma,B O,lakshmalakshmi24@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",lakshmilakshma24@gmail.com,Multiplication 2,...,5.0,5.0,1.0,1.0,1.0,1.0,No comments.,The content is easy and simple.Students are en...,17/11/2022,Multiplication 2
3,2022-11-17 10:01:37,559,KA015,sarala_b,Sarala,B,saralamma200@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",NaN,Not Entered,...,4.0,5.0,1.0,1.0,1.0,1.0,no,NaN,17/11/2022,Not Entered
4,2022-11-28 08:58:00,576,KA015,bhagya_v,Bhagya,V,bhagyanagaraju6@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",bhagyanagaraju6@gmail.com,India Political and Cultural,...,5.0,4.0,1.0,1.0,1.0,1.0,NaN,Good,28/11/2022,India Political and Cultural

In [513]:
master_feedback_comb.shape

(120, 25)

In [514]:
master_feedback_comb_cleaned = master_feedback_comb.copy()

### 6. Save file in master path

In [515]:
# Rename the file with the current month and year
master_feedback_ = f'Master_Feedback_List.xlsx'

In [516]:
#Set the new file path
master_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Master Folder', master_feedback_)

#Save the dataframe to the new file path
master_feedback_comb_cleaned.to_excel(master_path, index=False)

## Master Downloads File

In [585]:
master_downloads.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,Class,Board,Subject,course module,file downloaded,timestamp,Date
0,NaN,KA003,NaN,NaN,NaN,NaN,"Sri Sathya Sai Primary and High School, Bagalkot",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,NaN,KA004,NaN,NaN,NaN,NaN,"Sri Sathya Sai Loka Seva High School, Alike",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,VI,CBSE,Science,Fun with magnets,CCDP_CBSE_Science_STD VI_Fun with Magnets.xlsx,NaN,NaT
3,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,VI,CBSE,Science,Fun with magnets,Fun with Magnets.pdf,NaN,NaT
4,637.0,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,I,CBSE,EVS,My Neighbourhood,My Neighbourhood.pdf,NaN,NaT

In [286]:
#Input Corrections needed

#General Check for any new inconsistency
#Spell Check Class, Board & Subject colums
#Clean School Names
#Clean Date Column
#Merge with current_views data

### 1. General Check for any new inconsistency

In [586]:
master_downloads.shape

(16373, 15)

In [587]:
master_downloads.columns

Index(['id', 'idnumber', 'username', 'firstname', 'lastname', 'email',
       'institution', 'shortname', 'Class', 'Board', 'Subject',
       'course module', 'file downloaded', 'timestamp', 'Date'],
      dtype='object')

In [588]:
master_downloads.dtypes

id                        float64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
Class                      object
Board                      object
Subject                    object
course module              object
file downloaded            object
timestamp                  object
Date               datetime64[ns]
dtype: object

In [589]:
master_downloads.isnull().sum()

id                    2
idnumber              0
username              2
firstname             2
lastname              2
email                 2
institution           0
shortname             2
Class                32
Board               114
Subject              84
course module         2
file downloaded       2
timestamp          3577
Date               3577
dtype: int64

In [590]:
master_downloads.describe(include=['O'])

,idnumber,username,firstname,lastname,email,institution,shortname,Class,Board,Subject,course module,file downloaded,timestamp
count,16373,16371,16371,16371,16371,16373,16371,16341,16259,16289,16371,16371,12796
unique,12,86,85,71,86,12,59,15,5,6,433,4893,2308
top,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",SOPAAN Content Repackaged,VIII,KSSE,Maths,Listening & Speaking,MS_Summary_Light.pptx,2023-01-30 15:30:03
freq,6841,1825,1825,1825,1825,6841,2145,3678,7406,4567,1951,29,107

In [591]:
print("Number of Schools:", master_downloads["institution"].nunique())
print("Name of Schools:\n",master_downloads["institution"].value_counts().sort_values(ascending = False))

Number of Schools: 12
Name of Schools:
 Sri Sathya Sai Vidya Mandir School, Dharwad                    6841
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    3974
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     1648
Prashanti English Medium School, Siddapura                     1234
Sri Sathya Sai Vidyaniketan, Bagepalli                          827
Ananda Sai Shikshana Samsthe Shimoga                            573
Sri Eshwaramma English Medium High School, Tumakuru             529
Prashanthi Vidya Kendra, Bayar, Kasaragod                       444
Sri Sathya Sai Vidya Kendra                                     297
SSSVV KA Volunteer                                                4
Sri  Sathya Sai Primary and High School, Bagalkot                 1
Sri Sathya Sai Loka Seva High School, Alike                       1
Name: institution, dtype: int64

In [592]:
print("Number of Users:", master_downloads["id"].nunique())
print("Name of Users:\n",master_downloads["firstname"].value_counts().sort_values(ascending = False))

Number of Users: 86
Name of Users:
 Kalpana        1825
KRUSHNA         715
Malati          663
Pallavi         658
Saraswathi      646
               ...
MRUTYUNJAYA       2
Raghvendra        2
Anupama           2
Nandini           1
Parveen           1
Name: firstname, Length: 85, dtype: int64

In [593]:
master_downloads["Class"].value_counts()

VIII         3678
VII          2156
SOPAAN       2145
VI           1882
V            1529
I            1109
III          1090
IX           1081
II            866
IV            698
FN             40
Ii             25
FL             19
SN             16
Chemistry       7
Name: Class, dtype: int64

In [594]:
master_downloads["Board"].value_counts()

KSSE       7406
CBSE       6705
Content    1639
SOPAAN      506
APSE          3
Name: Board, dtype: int64

In [595]:
master_downloads["Subject"].value_counts()

Maths         4567
Science       3480
EVS           3175
Social        2420
Repackaged    2145
English        502
Name: Subject, dtype: int64

### 2. Sepearate shortname column into 3 parts & Treat disordered values

In [596]:
master_downloads_data_check = master_downloads.copy()

In [597]:
master_downloads_data_check[master_downloads_data_check['shortname'].isnull()]

,id,idnumber,username,firstname,lastname,email,institution,shortname,Class,Board,Subject,course module,file downloaded,timestamp,Date
0,NaN,KA003,NaN,NaN,NaN,NaN,"Sri Sathya Sai Primary and High School, Bagalkot",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,NaN,KA004,NaN,NaN,NaN,NaN,"Sri Sathya Sai Loka Seva High School, Alike",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [598]:
master_downloads_data_check['shortname'] = master_downloads_data_check['shortname'].fillna('Not Entered')
#data['id'] = data['id'].fillna('Not Entered')
#data['username'] = data['username'].fillna('Not Entered')
#data['firstname'] = data['firstname'].fillna('Not Entered')
#data['lastname'] = data['lastname'].fillna('Not Entered')
#data['email'] = data['email'].fillna('Not Entered')
#data['course module'] = data['course module'].fillna('Not Entered')
#data['file downloaded'] = data['file downloaded'].fillna('Not Entered')
#data['timestamp'] = data['timestamp'].fillna('Not Entered')

In [599]:
# First remove existing split columns Class, Board, Subject

master_downloads_data_check = master_downloads_data_check.drop(["Class", "Board", "Subject","Date"], axis=1)

In [600]:
# Seperate shortname column
import re

# Define mapping dictionaries for Class, Board, and Subject
class_map = {'I': 1, 'II': 2,'Ii': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8, 'IX': 9,'SOPAAN':'SOPAAN'}
board_map = {'KSSE': 'KSSE', 'CBSE': 'CBSE', 'APSE': 'APSE','Content':'Content'}
subject_map = {'Maths': 'Maths', 'Science': 'Science','English': 'English', 'Social': 'Social', 'EVS': 'EVS','Repackaged':'Repackaged','Sample':'Sample'}


# Define a function to split the shortname column into Class, Board, and Subject columns
def split_shortname(shortname):
    # Initialize variables
    class_ = None
    board = None
    subject = None
    
    # Split the string into words
    words = re.findall(r'\b\w+\b', shortname)
    
    # Map the values to Class, Board, and Subject columns
    for word in words:
        if word in class_map:
            class_ = class_map[word]
        elif word in board_map:
            board = board_map[word]
        elif word in subject_map:
            subject = subject_map[word]
        elif word == 'SC':
            subject = 'Science'
        elif word == 'Chemistry':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
        elif word == 'Physics':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Science'
        elif word == 'FN':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'FN'
        elif word == 'FL':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'FL'
        elif word == 'SN':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'SN'
        elif word == 'Not Entered':
            if class_ is None and board is None:
                class_ = 'Not Entered'
                board = 'Not Entered'
            subject = 'Not Entered'

            
    # Return the values as a tuple
    return (class_, board, subject)

# Split the shortname column into Class, Board, and Subject columns
master_downloads_data_check[['Class', 'Board', 'Subject']] = master_downloads_data_check['shortname'].apply(split_shortname).apply(pd.Series)

# Convert Class column to integers
#data['Class'] = pd.to_numeric(data['Class'])

# Sort the data by Class column
#data = data.sort_values('Class')

# Print the cleaned data
print(master_downloads_data_check)

#Save the cleaned dataframe to an excel file
master_downloads_data_check.to_excel(r"D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\master_downloads_data_check.xlsx", index=False)

           id idnumber          username   firstname  lastname  \
0         NaN    KA003               NaN         NaN       NaN
1         NaN    KA004               NaN         NaN       NaN
2      1575.0    KA000  chithra_srikanth     Chithra  Srikanth
3      1575.0    KA000  chithra_srikanth     Chithra  Srikanth
4       637.0    KA001         shwetha_l     Shwetha       L C
...       ...      ...               ...         ...       ...
16368  1761.0    KA015     samprutha.bgp   Samprutha         R
16369  2140.0    KA015      shravanthi.b  Shravanthi         B
16370  2140.0    KA015      shravanthi.b  Shravanthi         B
16371  2140.0    KA015      shravanthi.b  Shravanthi         B
16372  2140.0    KA015      shravanthi.b  Shravanthi         B

                             email  \
0                              NaN
1                              NaN
2      chithrasrikanth76@gmail.com
3      chithrasrikanth76@gmail.com
4         shwethasunil87@gmail.com
...                            ...
16368      sampruthar873@gmail.com
16369          ss2690835@gmail.com
16370          ss2690835@gmail.com
16371          ss2690835@gmail.com
16372          ss2690835@gmail.com

                                             institution         shortname  \
0      Sri  Sathya Sai Primary and High School, Bagalkot       Not Entered
1            Sri Sathya Sai Loka Seva High School, Alike       Not Entered
2                                     SSSVV KA Volunteer   VI CBSE Science
3                                     SSSVV KA Volunteer   VI CBSE Science
4                   Ananda Sai Shikshana Samsthe Shimoga        I CBSE EVS
...                                                  ...               ...
16368             Sri Sathya Sai Vidyaniketan, Bagepalli      V KSSE Maths
16369             Sri Sathya Sai Vidyaniketan, Bagepalli   VI KSSE Science
16370             Sri Sathya Sai Vidyaniketan, Bagepalli   VI KSSE Science
16371             Sri Sathya Sai Vidyaniketan, Bagepalli  VII KSSE Science
16372             Sri Sathya Sai Vidyaniketan, Bagepalli        V KSSE EVS

                          course module  \
0                                   NaN
1                                   NaN
2                      Fun with magnets
3                      Fun with magnets
4                      My Neighbourhood
...                                 ...
16368                 Weight and volume
16369          Electricity and Circuits
16370          Electricity and Circuits
16371  Electric Current and its Effects
16372                    Amazing Energy

                                      file downloaded            timestamp  \
0                                                 NaN                  NaN
1                                                 NaN                  NaN
2      CCDP_CBSE_Science_STD VI_Fun with Magnets.xlsx                  NaN
3                                Fun with Magnets.pdf                  NaN
4                                My Neighbourhood.pdf                  NaN
...                                               ...                  ...
16368               MS_Summary Weight and Volume.pptx  2023-01-17 03:07:00
16369                    Electricity And Circuits.pdf  2023-01-18 10:00:24
16370                    Electricity And Circuits.pdf  2023-01-18 10:00:38
16371           Electric currents and its effects.pdf  2023-01-28 13:02:59
16372                              Amazing Energy.pdf  2023-01-25 07:40:16

      Class Board  Subject
0      None  None     None
1      None  None     None
2         6  CBSE  Science
3         6  CBSE  Science
4         1  CBSE      EVS
...     ...   ...      ...
16368     5  KSSE    Maths
16369     6  KSSE  Science
16370     6  KSSE  Science
16371     7  KSSE  Science
16372     5  KSSE      EVS

[16373 rows x 14 columns]

In [601]:
master_downloads_data_check.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject
0,NaN,KA003,NaN,NaN,NaN,NaN,"Sri Sathya Sai Primary and High School, Bagalkot",Not Entered,NaN,NaN,NaN,None,None,None
1,NaN,KA004,NaN,NaN,NaN,NaN,"Sri Sathya Sai Loka Seva High School, Alike",Not Entered,NaN,NaN,NaN,None,None,None
2,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with magnets,CCDP_CBSE_Science_STD VI_Fun with Magnets.xlsx,NaN,6,CBSE,Science
3,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with magnets,Fun with Magnets.pdf,NaN,6,CBSE,Science
4,637.0,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,My Neighbourhood.pdf,NaN,1,CBSE,EVS

In [602]:
master_downloads_data_check.shape

(16373, 14)

In [603]:
master_downloads_data_check.isnull().sum()

id                    2
idnumber              0
username              2
firstname             2
lastname              2
email                 2
institution           0
shortname             0
course module         2
file downloaded       2
timestamp          3577
Class                 2
Board                 2
Subject               2
dtype: int64

In [604]:
master_downloads_data_check['Class'].value_counts()

8              3678
7              2156
SOPAAN         2145
6              1882
5              1529
1              1109
3              1090
9              1081
2               891
4               698
Not Entered     112
Name: Class, dtype: int64

In [605]:
master_downloads_data_check['Board'].value_counts()

KSSE           7406
CBSE           6705
Content        2145
Not Entered     112
APSE              3
Name: Board, dtype: int64

In [606]:
master_downloads_data_check['Subject'].value_counts()

Maths         4567
Science       3487
EVS           3175
Social        2401
Repackaged    2145
English        502
FN              40
Sample          19
FL              19
SN              16
Name: Subject, dtype: int64

In [308]:
#data = data.drop(data[(data['Class'] == 'Not Entered') | (data['Board'] == 'Not Entered')| data[(data['Board'] == 'Content') | (data['Subject'] == 'Repackaged') | (data['Subject'] == 'FN') | (data['Subject'] == 'FL') | (data['Subject'] == 'SN')].index)

### 3. change school name

In [607]:
master_downloads_school_check = master_downloads_data_check.copy()

In [608]:
print("Number of Schools : ",master_downloads_school_check['institution'].nunique())
master_downloads_school_check['institution'].value_counts()

Number of Schools :  12

Sri Sathya Sai Vidya Mandir School, Dharwad                    6841
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    3974
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     1648
Prashanti English Medium School, Siddapura                     1234
Sri Sathya Sai Vidyaniketan, Bagepalli                          827
Ananda Sai Shikshana Samsthe Shimoga                            573
Sri Eshwaramma English Medium High School, Tumakuru             529
Prashanthi Vidya Kendra, Bayar, Kasaragod                       444
Sri Sathya Sai Vidya Kendra                                     297
SSSVV KA Volunteer                                                4
Sri  Sathya Sai Primary and High School, Bagalkot                 1
Sri Sathya Sai Loka Seva High School, Alike                       1
Name: institution, dtype: int64

In [609]:
from fuzzywuzzy import fuzz, process

common_school_names = ['Sri Sathya Sai Academy of Integrated Education, Bhadravathi', 'Sri Sathya Sai Vidya Kendra', 'Sri Sathya Sai Vidya Mandir School, Dharwad', 'Sri Sathya Sai Baba Higher Primary and High School, Mysuru', 'Sri Sathya Sai Vidyaniketan, Bagepalli', 'Sri Eshwaramma English Medium High School, Tumakuru', 'Prashanti English Medium School, Siddapura', 'Ananda Sai Shikshana Samsthe Shimoga','Sri  Sathya Sai Primary and High School, Bagalkot']

master_downloads_school_check['institution'] = master_downloads_school_check['institution'].apply(lambda x: x.strip())

for i, school_name in enumerate(master_downloads_school_check['institution']):
    school_name = school_name.strip()
    school_name_lower = school_name.lower()
    
    # Check for exact matches
    if school_name in common_school_names:
        master_downloads_school_check.at[i, 'institution'] = school_name
    
    # Check for fuzzy matches
    else:
        match, score = process.extractOne(school_name, common_school_names, scorer=fuzz.token_set_ratio)
        
        # If score is above a certain threshold, replace with common name
        if score >= 85:
            master_downloads_school_check.at[i, 'institution'] = match
        else:
            # Check for Bhadravathi School case
            if "bhadravathi" in school_name_lower and "sri sathya sai" in school_name_lower:
                master_downloads_school_check.at[i, 'institution'] = "Sri Sathya Sai Academy of Integrated Education, Bhadravathi"
            else:
                # Check for Dharwad School case
                if "dharwad" in school_name_lower and "sri sathya sai" in school_name_lower:
                    master_downloads_school_check.at[i, 'institution'] = "Sri Sathya Sai Vidya Mandir School, Dharwad"
                else:
                    master_downloads_school_check.at[i, 'institution'] = school_name

In [610]:
print("Number of Schools : ",master_downloads_school_check['institution'].nunique())
master_downloads_school_check['institution'].value_counts()

Number of Schools :  12

Sri Sathya Sai Vidya Mandir School, Dharwad                    6841
Sri Sathya Sai Academy of Integrated Education, Bhadravathi    3974
Sri Sathya Sai Baba Higher Primary and High School, Mysuru     1648
Prashanti English Medium School, Siddapura                     1234
Sri Sathya Sai Vidyaniketan, Bagepalli                          827
Ananda Sai Shikshana Samsthe Shimoga                            573
Sri Eshwaramma English Medium High School, Tumakuru             529
Prashanthi Vidya Kendra, Bayar, Kasaragod                       444
Sri Sathya Sai Vidya Kendra                                     297
SSSVV KA Volunteer                                                4
Sri  Sathya Sai Primary and High School, Bagalkot                 1
Sri Sathya Sai Loka Seva High School, Alike                       1
Name: institution, dtype: int64

In [611]:
master_downloads_school_check.shape

(16373, 14)

### 4. Add Date Column

In [612]:
master_downloads_date_check = master_downloads_school_check.copy()

In [613]:
master_downloads_date_check['timestamp'].value_counts()

2023-01-30 15:30:03    107
2023-01-13 07:33:11     56
2023-01-04 13:47:40     52
2023-01-06 13:56:57     52
2023-01-30 15:30:38     52
                      ...
2023-01-05 06:31:00      1
2023-01-05 06:30:24      1
2023-01-22 17:45:56      1
2023-01-22 17:45:39      1
2023-01-25 07:40:16      1
Name: timestamp, Length: 2308, dtype: int64

In [614]:
master_downloads_date_check.dtypes

id                 float64
idnumber            object
username            object
firstname           object
lastname            object
email               object
institution         object
shortname           object
course module       object
file downloaded     object
timestamp           object
Class               object
Board               object
Subject             object
dtype: object

In [615]:
# convert timestamp column to datetime format
master_downloads_date_check['timestamp'] = pd.to_datetime(master_downloads_date_check['timestamp'])

# Create a new column 'Date' with datetime64 data type
#date_check['Date'] = pd.to_datetime(date_check['timestamp'].dt.date)
master_downloads_date_check['Date'] = pd.to_datetime(master_downloads_date_check['timestamp'], format='%d/%m/%Y', errors='coerce')

import pandas as pd

def add_date_column(df):
    if 'timestamp' in df.columns:
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['Date'] = pd.to_datetime(df['timestamp']).dt.date.astype(str).apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
    else:
        print("Error: dataframe does not contain 'Time' column")

In [318]:
#add_date_column(date_check)
#date_check.head()

In [616]:
master_downloads_date_check.dtypes

id                        float64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
course module              object
file downloaded            object
timestamp          datetime64[ns]
Class                      object
Board                      object
Subject                    object
Date               datetime64[ns]
dtype: object

In [617]:
master_downloads_date_check['Date'].value_counts()

2023-01-30 15:30:03    107
2023-01-13 07:33:11     56
2023-01-04 13:47:40     52
2023-01-06 09:02:59     52
2023-01-11 06:00:20     52
                      ...
2023-01-08 18:36:16      1
2023-01-08 18:35:47      1
2023-01-05 06:31:00      1
2023-01-05 06:30:24      1
2023-01-25 07:40:16      1
Name: Date, Length: 2307, dtype: int64

In [618]:
#create new 'Date' column in desired format
master_downloads_date_check['Date'] = master_downloads_date_check['Date'].dt.strftime('%d/%m/%Y')

In [619]:
master_downloads_date_check['Date'].value_counts()

03/01/2023    1070
09/12/2022     609
20/12/2022     588
21/01/2023     578
23/01/2023     530
              ...
26/01/2023      47
24/12/2022      45
29/01/2023      42
28/01/2023      24
18/12/2022       3
Name: Date, Length: 62, dtype: int64

In [620]:
master_downloads_date_check.dtypes

id                        float64
idnumber                   object
username                   object
firstname                  object
lastname                   object
email                      object
institution                object
shortname                  object
course module              object
file downloaded            object
timestamp          datetime64[ns]
Class                      object
Board                      object
Subject                    object
Date                       object
dtype: object

### Check files downloaded column

In [623]:
master_downloads_files_check = master_downloads_date_check.copy()

In [624]:
master_downloads_files_check['file downloaded'].value_counts()

MS_Summary_Light.pptx                                                                      29
Practical Geometry.pdf                                                                     27
LA_Picture_Flashcards_Articles.pdf                                                         26
LA_Picture_Flashcards_Singular_and_Plural.pdf                                              26
LA_Picture_Flashcards_Body_Parts.pdf                                                       25
                                                                                           ..
TA_Word Bank for Comprehension_W7.pdf                                                       1
AS_Improve Reading Vocabulary and Comprehension - using Word bank for comprehension.pdf     1
CCDP_CBSE_Science_STD VI_Food_ Where Does It Come From_.xlsx                                1
Introduction to SOPAAN.pdf                                                                  1
MLP_Natural Vegetation and Wild Life.pdf                                                    1
Name: file downloaded, Length: 4893, dtype: int64

In [625]:
print(master_downloads_files_check['file downloaded'].dtype)

object

#### Create Content Type column

In [626]:
master_downloads_files_check['file downloaded'].isnull().sum()

2

In [627]:
master_downloads_files_check['file downloaded'] = master_downloads_files_check['file downloaded'].fillna("Not Entered")
master_downloads_files_check[master_downloads_files_check['file downloaded'].isnull()]

Empty DataFrame
Columns: [id, idnumber, username, firstname, lastname, email, institution, shortname, course module, file downloaded, timestamp, Class, Board, Subject, Date]
Index: []

In [628]:
import re

# create function to categorize content type
def categorize(value):
    if 'CCDP' in value:
        return 'CCDP'
    elif re.search(r'(.pptx|.ppt|.mp4|MP4|.mp3)$',value):
        return 'MM Teaching Aids'
    #elif re.search(r'^(MS|IA|QA|IQ|SA|VC|DD)',value):
        #return 'MM Teaching Aids'
    elif re.search(r'(docx|Worksheet|worksheet|Sheet$)',value):
        return 'Learning Aids'
    elif re.search(r'(.docx)$',value):
        return 'Learning Aids'
    else:
        return 'MLP'

# apply function to create new column
master_downloads_files_check['Content Type'] = master_downloads_files_check['file downloaded'].apply(categorize)

master_downloads_files_check['Content Type'].value_counts()

MM Teaching Aids    12068
MLP                  3798
CCDP                  371
Learning Aids         136
Name: Content Type, dtype: int64

#### Create File format type column

In [629]:
import re

# create function to categorize Asset type
def categorize(value):
    if '.xlsx' in value:
        return 'Spreadsheet'
    elif re.search(r'(.pptx|.ppt)',value):
        return 'PPT slide'
    elif re.search(r'(.mp4|MP4|.mp3)$',value):
        return 'Audio'
    elif 'pdf' in value:
        return 'PDF'
    elif 'docx' in value:
        return 'Word document'
    else:
        return 'Unkown'

# apply function to create new column
master_downloads_files_check['File Format Type'] = master_downloads_files_check['file downloaded'].apply(categorize)

master_downloads_files_check['File Format Type'].value_counts()

PPT slide        11724
PDF               3824
Spreadsheet        393
Audio              344
Word document       83
Unkown               5
Name: File Format Type, dtype: int64

#### Create Asset type column

In [630]:
import re

# create function to categorize Asset type
def categorize(value):
    if 'MS' in value:
        return 'Main Script'
    elif 'DD' in value:
        return 'Day to Day Relevance'
    elif 'QA' in value:
        return 'Question to Assess'
    elif 'VC' in value:
        return 'Value Content'
    elif 'IA' in value:
        return 'Interesting Asides'
    elif 'IQ' in value:
        return 'Inquisitive Questions'
    elif 'SA' in value:
        return 'Suggested Activity'
    elif 'CCDP' in value:
        return 'CCDP'
    elif 'LA' in value:
        return 'LA'
    elif 'TA' in value:
        return 'TA'
    elif 'MT' in value:
        return 'MT'
    elif 'AS' in value:
        return 'AS'
    elif 'pdf' in value:
        return 'Master Lesson Plan'
    else:
        return 'Not Mentioned'

# apply function to create new column
master_downloads_files_check['Asset Type'] = master_downloads_files_check['file downloaded'].apply(categorize)

master_downloads_files_check['Asset Type'].value_counts()

Main Script              4375
Suggested Activity       1760
Master Lesson Plan       1615
Question to Assess       1555
TA                       1342
Interesting Asides       1301
Day to Day Relevance     1143
Inquisitive Questions    1096
Value Content             936
LA                        743
CCDP                      371
Not Mentioned              80
AS                         48
MT                          8
Name: Asset Type, dtype: int64

In [631]:
master_downloads_files_check[master_downloads_files_check['Asset Type']=='Not Mentioned']

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type
0,NaN,KA003,NaN,NaN,NaN,NaN,"Sri Sathya Sai Primary and High School, Bagalkot",Not Entered,NaN,Not Entered,NaT,None,None,None,NaN,MLP,Unkown,Not Mentioned
1,NaN,KA004,NaN,NaN,NaN,NaN,"Sri Sathya Sai Loka Seva High School, Alike",Not Entered,NaN,Not Entered,NaT,None,None,None,NaN,MLP,Unkown,Not Mentioned
975,650.0,KA006,shweta_naik,Shweta,Naik,shwetanaik121@gmail.com,"Prashanti English Medium School, Siddapura",III KSSE EVS,Festivals and Fairs,Let us recall Festivals and Fairs.pptx,NaT,3,KSSE,EVS,NaN,MM Teaching Aids,PPT slide,Not Mentioned
1795,2507.0,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Making of the Indian National Movement - 1870 ...,An Interview With the Mahatma.mp4,NaT,8,CBSE,Social,NaN,MM Teaching Aids,Audio,Not Mentioned
1796,2507.0,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Making of the Indian National Movement - 1870 ...,Dandi March Salt Satyagraha.mp4,NaT,8,CBSE,Social,NaN,MM Teaching Aids,Audio,Not Mentioned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14863,2507.0,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VIII CBSE Social,Law and Social Justice,Bhopal Gas Tragedy.mp4,2023-01-21 01:41:44,8,CBSE,Social,21/01/2023,MM Teaching Aids,Audio,Not Mentioned
14912,2507.0,KA007,kalpana.jadhav,Kalpana,Jadhav,jadhavkalpana593@gmail.com,"Sri Sathya Sai Vidya Mandir School, Dharwad",VII CBSE Social,Eighteenth- Century Political Formations,The French Revolution.mp4,2023-01-23 17:00:30,7,CBSE,Social,23/01/2023,MM Teaching Aids,Audio,Not Mentioned
15717,607.0,KA010,saraswathi_kp,Saraswathi,K P,ssaraswathi585@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,V KSSE Maths,Three dimensional figures,Nets of 3D shapes_ worksheet_answer.png,2023-01-26 07:55:44,5,KSSE,Maths,26/01/2023,Learning Aids,Unkown,Not Mentioned
15723,607.0,KA010,saraswathi_kp,Saraswathi,K P,ssaraswathi585@gmail.com,Sri Sathya Sai Baba Higher Primary and High Sc...,V KSSE Maths,Three dimensional figures,SSSVV_Asset_3485912827.mp4,2023-01-26 07:55:44,5,KSSE,Maths,26/01/2023,MM Teaching Aids,Audio,Not Mentioned
16303,578.0,KA015,sasi_v,Sasi,V,sasi7036180361@gmail.com,"Sri Sathya Sai Vidyaniketan, Bagepalli",CBSE IX Social,Natural Vegetation and Wildlife,MLP_Natural Vegetation and Wild life.mp4,2023-01-07 12:27:23,9,CBSE,Social,07/01/2023,MM Teaching Aids,Audio,Not Mentioned

#### Clean file downloaded column

In [342]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    title = re.sub(r'([\d]+_[A-Z{2}]+_*|[A-Z{2}]+_|.pdf|.pptx|.ppt|.docx|.xlsx|.mp4|.mp3)', '', title)

    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()

# test the function with some sample inputs
titles = [
    'VII - The Roman Empire',
    'IV - The Dark Ages',
    'V - The Renaissance',
    'I - The Origins of Civilization',
    'IX - The Age of Exploration',
    'X - The Modern World',
    'Introduction','Vijaynagar Empire',
    'CCDP English Language Arts',
    'SA History and Culture',
    'Class X Mathematics - Chapter 1',
    'CBSE Class IX Physics - Chapter 3',
    'KSSE Biology - Grade 9',
    'STD X English Grammar',
    '5 Digit Numbers','CCDP KSSE Mathematics STD V 5-Digit Numbers',
    'Grade 5 Science',
    'A snake charmer&#039;s story',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Mathematics STD VIII Cube and Cube Roots',
    'Herons Formula',
    'CCDP KSSE Mathematics STD IX Herons Formula',
    'A day in the garden',
    'Honey sweet honey',
    'Atmosphere',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    'Comprehension',
    '01 SA Picture Comprehension',
    'Tenses',
    'CCDP KSSE English STD III Tenses',
    'Prepositions',
    'CCDP KSSE English STD IV Prepositions',
    'Genders','I need these'

]

for title in titles:
    print(f"{title} -> {clean_title(title)}")

VII - The Roman Empire -> I - The Roman Empire
IV - The Dark Ages -> - The Dark Ages
V - The Renaissance -> - The Renaissance
I - The Origins of Civilization -> I - The Origins of Civilization
IX - The Age of Exploration -> - The Age of Exploration
X - The Modern World -> - The Modern World
Introduction -> Introduction
Vijaynagar Empire -> Vijaynagar Empire
CCDP English Language Arts -> Language Arts
SA History and Culture -> History and Culture
Class X Mathematics - Chapter 1 -> - 1
CBSE Class IX Physics - Chapter 3 -> Physics - 3
KSSE Biology - Grade 9 -> Biology - 9
STD X English Grammar -> STD Grammar
5 Digit Numbers -> 5 Digit Numbers
CCDP KSSE Mathematics STD V 5-Digit Numbers -> 5-Digit Numbers
Grade 5 Science -> 5 Science
A snake charmer&#039;s story -> A snake charmer&#039;s story
Multiplication 2 -> Multiplication 2
Hu Tu Tu Hu Tu Tu -> Hu Tu Tu Hu Tu Tu
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
03 QA Testing Usage of Nouns Worksheet. -> Testing Usage of Nouns Worksheet
CCDP KSSE Mathematics STD VIII Cube and Cube Roots -> Cube and Cube Roots
Herons Formula -> Herons Formula
CCDP KSSE Mathematics STD IX Herons Formula -> Herons Formula
A day in the garden -> A day in the garden
Honey sweet honey -> Honey sweet honey
Atmosphere -> Atmosphere
CCDP KSSE Social Science STD VIII Atmosphere -> Atmosphere
Comprehension -> Comprehension
01 SA Picture Comprehension -> Picture Comprehension
Tenses -> Tenses
CCDP KSSE English STD III Tenses -> Tenses
Prepositions -> Prepositions
CCDP KSSE English STD IV Prepositions -> Prepositions
Genders -> Genders
I need these -> I need these

In [632]:
import re

def clean_title(title):
    # remove leading digits, two-letter asset code, board, subject, class in roman letters, STD
    title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|SA\s|VC\s|IQ\s|IA\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX|X\s)', '', title)
    title = re.sub(r'([\d]+_[A-Z{2}]+_*|[A-Z{2}]+_|.pdf|.pptx|.ppt|.docx|.xlsx|.mp4|.mp3)', '', title)

    #title = re.sub(r'(CCDP\s|SA\s|MS\s|QA\s|DD\s|CBSE\s|KSSE\s|APSE\s|Mathematics\s|EVS\s|Science\s|Social Science\s|English\s|Class\s|Grade\s|Chapter\s|\d{2}\s[A-Z]{2}\s|STD\sI\s|[VI]\s|[-]\s|II|STD\sII\s|STD\sIII\s|III|STD\sIV\s|IV\s|STD\sV\s|V\s|STD\sVI\s|VI|STD\sVII\s|VII|STD\sVIII\s|VIII|STD\sIX\s|IX\s|X\s|STD\s|[''%&#;]|\d{3})', '', title)
    
    # remove trailing hyphens, spaces, and periods
    title = re.sub(r'[-.\s]*$', '', title)
    title = re.sub(r'^\s+ \s$', '', title)
    title = re.sub(r'^\s+ ', '', title)

    return title.strip()


# replace underscore with space in the 'file downloaded' column
master_downloads_files_check['File name'] = master_downloads_files_check['file downloaded'].str.replace('_', ' ')

#Apply the clean_text function to the 'resource viewed' column of the 'resource_check' dataframe 

master_downloads_files_check['File name'] = master_downloads_files_check['file downloaded'].apply(clean_title)

master_downloads_files_check['File name'].value_counts() 
#print(resource_check)

Summary_Light                             29
Practical Geometry                        27
Picture_Flashcards_Singular_and_Plural    26
Picture_Flashcards_Articles               26
Data Handling                             26
                                          ..
Changes in a family                        1
Child Marriage Act                         1
Interesting facts about babies             1
Adapting to changes                        1
Natural Vegetation and Wild Life           1
Name: File name, Length: 4692, dtype: int64

#### Correct Spelling

from spellchecker import SpellChecker
import re

#Initialize spell checker
spell = SpellChecker()

#Define a function to correct spelling mistakes in a string
def correct_spelling(text):
    # Split the text into words
    words = re.findall(r'\b\w+\b', text)
    
    # Find and correct misspelled words
    corrected_words = []
    for word in words:
        corrected_word = spell.correction(word.lower())
        if corrected_word is not None:
            corrected_words.append(corrected_word)
        else:
            corrected_words.append(word)
    
    #Join the corrected words back into a single string
    return " ".join(corrected_words)

#Apply correct_spelling() function to 'chapter name' column
#feedback_check['spelling check'] = feedback_check['chapter name'].apply(correct_spelling)

#test the function with some sample inputs
titles = [
    'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {correct_spelling(title)}")

#### Capitalize first letter

import re

def clean_chapter_name(chapter_name):
    # Exclude special characters and digits
    chapter_name = re.sub(r"(['%&#;]|\d{3})", "", chapter_name)
    
    # Capitalize first letters of each word
    words = chapter_name.split()
    for i, word in enumerate(words):
        if word.lower() not in ['in', 'the', 'to', 'on', 'at', 'into', 'and']:
            words[i] = word.title()
    return " ".join(words)

#test the function with some sample inputs
titles = [
   'Stars and the solar system',
    'My Neighbourhood',
    'vijayanagara empire',
    'Multiplication 2',
    'Hu Tu Tu Hu Tu Tu',
    'CCDP KSSE Social Science STD VIII Atmosphere',
    '03 QA Testing Usage of Nouns Worksheet.',
    'CCDP KSSE Social Science STD IX Our Constitution',
    'India Political and Cultural',
    'introduction to graph',
    'exponents powers',
    'Introduction','linear equations in two variables',
    'Abdul in the Garden',
    'numbers 1 t0 20',
    'Eating Togerher','Reprosuction in Animals',
    'A snake charmer&#039;s story','how many ponytails?'
    
]

for title in titles:
    print(f"{title} -> {clean_chapter_name(title)}")

### 5. Merge with current month data

In [633]:
master_downloads_cleaned = master_downloads_files_check.copy()

In [634]:
master_downloads_cleaned.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type,File name
0,NaN,KA003,NaN,NaN,NaN,NaN,"Sri Sathya Sai Primary and High School, Bagalkot",Not Entered,NaN,Not Entered,NaT,None,None,None,NaN,MLP,Unkown,Not Mentioned,Not Entered
1,NaN,KA004,NaN,NaN,NaN,NaN,"Sri Sathya Sai Loka Seva High School, Alike",Not Entered,NaN,Not Entered,NaT,None,None,None,NaN,MLP,Unkown,Not Mentioned,Not Entered
2,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with magnets,CCDP_CBSE_Science_STD VI_Fun with Magnets.xlsx,NaT,6,CBSE,Science,NaN,CCDP,Spreadsheet,CCDP,Science_STD _Fun with Magnets
3,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with magnets,Fun with Magnets.pdf,NaT,6,CBSE,Science,NaN,MLP,PDF,Master Lesson Plan,Fun with Magnets
4,637.0,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,My Neighbourhood.pdf,NaT,1,CBSE,EVS,NaN,MLP,PDF,Master Lesson Plan,My Neighbourhood

In [636]:
master_downloads_cleaned.shape

(16373, 19)

In [635]:
current_downloads_cleaned.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type,File name
0,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-22 16:24:08,6,CBSE,Maths,22/02/2023,MLP,PDF,Master Lesson Plan,Ideation Module_Symmetry
1,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:22:03,6,CBSE,Maths,23/02/2023,MLP,PDF,Master Lesson Plan,Ideation Module_Symmetry
2,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MLP_Ideation Module_Symmetry.pdf,2023-02-23 10:44:59,6,CBSE,Maths,23/02/2023,MLP,PDF,Master Lesson Plan,Ideation Module_Symmetry
3,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,MS_Lines of Symmetry.pptx,2023-02-22 16:19:41,6,CBSE,Maths,22/02/2023,MM Teaching Aids,PPT slide,Main Script,Lines of Symmetry
4,1570,KA000,saraswati.bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,VI CBSE Maths,Symmetry,VC_Beauty around us.mp3,2023-02-22 16:19:41,6,CBSE,Maths,22/02/2023,MM Teaching Aids,Audio,Value Content,Beauty around us

In [637]:
current_downloads_cleaned.shape

(4655, 19)

In [638]:
# Concatenate the filtered data with the previous months' data
master_downloads_comb = pd.concat([master_downloads_cleaned, current_downloads_cleaned], ignore_index=True)

In [639]:
master_downloads_comb.head()

,id,idnumber,username,firstname,lastname,email,institution,shortname,course module,file downloaded,timestamp,Class,Board,Subject,Date,Content Type,File Format Type,Asset Type,File name
0,NaN,KA003,NaN,NaN,NaN,NaN,"Sri Sathya Sai Primary and High School, Bagalkot",Not Entered,NaN,Not Entered,NaT,None,None,None,NaN,MLP,Unkown,Not Mentioned,Not Entered
1,NaN,KA004,NaN,NaN,NaN,NaN,"Sri Sathya Sai Loka Seva High School, Alike",Not Entered,NaN,Not Entered,NaT,None,None,None,NaN,MLP,Unkown,Not Mentioned,Not Entered
2,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with magnets,CCDP_CBSE_Science_STD VI_Fun with Magnets.xlsx,NaT,6,CBSE,Science,NaN,CCDP,Spreadsheet,CCDP,Science_STD _Fun with Magnets
3,1575.0,KA000,chithra_srikanth,Chithra,Srikanth,chithrasrikanth76@gmail.com,SSSVV KA Volunteer,VI CBSE Science,Fun with magnets,Fun with Magnets.pdf,NaT,6,CBSE,Science,NaN,MLP,PDF,Master Lesson Plan,Fun with Magnets
4,637.0,KA001,shwetha_l,Shwetha,L C,shwethasunil87@gmail.com,Ananda Sai Shikshana Samsthe Shimoga,I CBSE EVS,My Neighbourhood,My Neighbourhood.pdf,NaT,1,CBSE,EVS,NaN,MLP,PDF,Master Lesson Plan,My Neighbourhood

In [640]:
master_downloads_comb.shape

(21028, 19)

In [641]:
master_downloads_comb_cleaned = master_downloads_comb.copy()

### 6. Save file in master path

In [642]:
# Rename the file with the current month and year
master_downloads_ = f'Master_Downloads.xlsx'

In [643]:
#Set the new file path
master_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Master Folder', master_downloads_)

#Save the dataframe to the new file path
master_downloads_comb_cleaned.to_excel(master_path, index=False)

## Consolidated Table

In [392]:
cc_main.head()

,id,idnumber,username,firstname,lastname,email,institution,Download Counts,Views Count,Feedback Count
0,95,KA000,nanda_t,Nanda,Tirumala,tirumalanandaa@gmail.com,SSSVV KA Volunteer,0,0,0
1,139,KA000,sandhya_u,Sandhya,Uchil,uchil.sandhya@gmail.com,SSSVV KA Volunteer,0,0,0
2,1565,KA000,preethi_somaiah,Preethi,Somaiah,preethisomaiah24@gmail.com,SSSVV KA Volunteer,0,0,0
3,1570,KA000,saraswati_bantwal,Saraswathi,Bantwal,saraswathi.sai2311@gmail.com,SSSVV KA Volunteer,0,0,0
4,1571,KA000,madhavi_chillara,Madhavi,Chillara,smadhavichillara@gmail.com,SSSVV KA Volunteer,0,0,0

In [409]:
cc_main.shape[0]

193

In [410]:
current_users_list_cleaned.shape[0]

194

In [416]:
def get_missing_ids(cc_main, current_users_list):
    # Append additional ids from current_users_list table to cc_main table
    cc_main_new = pd.concat([cc_main, current_users_list], ignore_index=True)

    # Get the list of ids not present in current_users_list table
    cc_main_ids = set(cc_main['id'].tolist())
    current_users_list_ids = set(current_users_list['id'].tolist())
    ids_not_in_current_users_list = list(cc_main_ids - current_users_list_ids)
    
    return ids_not_in_current_users_list

# Get the list of missing ids
missing_ids = get_missing_ids(cc_main, current_users_list)

# Print the results
print("Removed ids:", missing_ids)

Removed ids: []

In [426]:
def get_removed_ids(cc_main, current_users_list):
    # Merge cc_main with current_users_list based on the id column
    merged_df = pd.merge(cc_main, current_users_list, on='id', how='outer', indicator=True)

    # Get the rows that are only in cc_main (i.e., missing from current_users_list)
    missing_df = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

    # Return a DataFrame containing the missing ids and associated name and institution values
    return missing_df[['id', 'firstname_y', 'institution_y']].rename(columns={'firstname_y': 'name', 'institution_y': 'institution'})

removed_ids_df = get_removed_ids(cc_main, current_users_list)
print(removed_ids_df)

Empty DataFrame
Columns: [id, name, institution]
Index: []

In [655]:
# Rename the file with the current month and year
removed_users_list_ = f'Removed_users_list.xlsx'

In [656]:
#Set the new file path
ru_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Incremental users', removed_users_list_)

#Save the dataframe to the new file path
removed_ids_df.to_excel(ru_path, index=False)

In [431]:
def get_additional_rows(cc_main, current_users_list):
    # Merge cc_main with current_users_list on the 'id' column
    merged = pd.merge(cc_main, current_users_list, on='id', how='outer')

    # Get the rows that only appear in current_users_list (i.e., additional rows)
    additional_rows = merged[merged['firstname_y'].notna() & merged['institution_y'].notna() & merged['firstname_x'].isna()]

    # Select only the 'id', 'name', and 'institution' columns and return as a DataFrame
    additional_rows = additional_rows[['id', 'firstname_y', 'institution_y']].rename(columns={'firstname_y': 'name'})

    return additional_rows

# Get the additional rows
additional_rows = get_additional_rows(cc_main, current_users_list)

# Convert the list to a DataFrame
additional_rows_df = pd.DataFrame(additional_rows, columns=['id', 'name', 'institution_y'])
additional_rows_df.head()

      id       name                           institution_y
193  142  Narasimha  Sri Sathya Sai Vidyaniketan, Bagepalli

In [657]:
#Rename the file with the current month and year
additional_users_list_ = f'Additional_users_list.xlsx'

In [658]:
#Set the new file path
ru_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Incremental users', additional_users_list_)

#Save the dataframe to the new file path
additional_rows_df.to_excel(ru_path, index=False)

In [415]:
# Merge cc_main and current_users_list on the id column of current_users_list
cc_main_new = pd.merge(cc_main, current_users_list[['id']], on='id', how='left')

# Print the merged table
cc_main_new.shape[0]

193

### Update Download Counts

In [645]:
# get the counts of the 'id' column in master_downloads_check_cleaned
counts = master_downloads_comb_cleaned['id'].value_counts()

# create a dictionary of id counts
id_counts = dict(zip(counts.keys(), counts.values))

# map the id counts to the 'id' column in cc_main and update the 'Consolidated downloads' column
cc_main['Download Counts'] = cc_main['id'].map(id_counts)

### Update Views Count

In [646]:
# get the counts of the 'id' column in master_downloads_check_cleaned
counts = master_views_comb_cleaned['id'].value_counts()

# create a dictionary of id counts
id_counts = dict(zip(counts.keys(), counts.values))

# map the id counts to the 'id' column in cc_main and update the 'Consolidated downloads' column
cc_main['Views Count'] = cc_main['id'].map(id_counts)

### Update Feedback Count

In [647]:
# get the counts of the 'id' column in master_downloads_check_cleaned
counts = master_feedback_comb_cleaned['id'].value_counts()

# create a dictionary of id counts
id_counts = dict(zip(counts.keys(), counts.values))

# map the id counts to the 'id' column in cc_main and update the 'Consolidated downloads' column
cc_main['Feedback Count'] = cc_main['id'].map(id_counts)

### 6. Save file in master path

In [648]:
# Rename the file with the current month and year
consolidated_count = f'Consolidated_Count.xlsx'

In [649]:
#Set the new file path
master_path = os.path.join(r'D:\Side Hustles\SSSVV activities\SRC - Karnataka\Monthly Reports\Master Folder', consolidated_count)

#Save the dataframe to the new file path
cc_main.to_excel(master_path, index=False)